// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// Links
//
// Style anchor elements.

$link-decoration: none;

// Color system

$color-shift: 30%;

$english-violet      : #644672;
$english-violet-light: tint-color($english-violet, $color-shift);
$english-violet-dark : shade-color($english-violet, $color-shift);

$faded-glory      : #8391a3;
$faded-glory-light: tint-color($faded-glory, $color-shift);
$faded-glory-dark : shade-color($faded-glory, $color-shift);

$monarch      : #e3b211;
$monarch-light: tint-color($monarch, $color-shift);
$monarch-dark : shade-color($monarch, $color-shift);

$irish-stone      : #5E915D;
$irish-stone-light: tint-color($irish-stone, $color-shift);
$irish-stone-dark : shade-color($irish-stone, $color-shift);

$red-falling      : #7e3232;
$red-falling-light: tint-color($red-falling, $color-shift);
$red-falling-dark : shade-color($red-falling, $color-shift);

$silver-chalice      : #ACAEA9;
$silver-chalice-light: tint-color($silver-chalice, $color-shift);
$silver-chalice-dark : shade-color($silver-chalice, $color-shift);

$charcoal      : #454336;
$charcoal-light: tint-color($charcoal, $color-shift);
$charcoal-dark : shade-color($charcoal, $color-shift);

$pop      : $monarch;
$pop-light: $monarch-light;
$pop-dark : $monarch-dark;

$prime      : $english-violet;
$prime-light: $english-violet-light;
$prime-dark : $english-violet-dark;


$second      : $faded-glory;
$second-light: $faded-glory-light;
$second-dark : $faded-glory-dark;

$third      : $irish-stone;
$third-light: $irish-stone-light;
$third-dark : $irish-stone-dark;

$fourth      : $red-falling;
$fourth-light: $red-falling-light;
$fourth-dark : $red-falling-dark;

$fifth      : $charcoal;
$fifth-light: $charcoal-light;
$fifth-dark : $charcoal-dark;

$theme-colors: ("pop": $pop,
  "pop-light": $pop-light,
  "pop-dark": $pop-dark,
  "prime": $prime,
  "prime-light": $prime-light,
  "prime-dark": $prime-dark,
  "second": $second,
  "second-light": $second-light,
  "second-dark": $second-dark,
  "third": $third,
  "third-light": $third-light,
  "third-dark": $third-dark,
  "fourth": $fourth,
  "fourth-light": $fourth-light,
  "fourth-dark": $fourth-dark,
  "fifth": $fifth,
  "fifth-light": $fifth-light,
  "fifth-dark": $fifth-dark);

$display-font-sizes: (01: 1.5rem,
  02: 2rem,
  03: 3rem,
  04: 4rem,
  05: 5rem,
  06: 6rem,
  07: 7rem,
  08: 8rem,
  09: 9rem,
  10: 10rem,
  11: 11rem,
  12: 12rem,
  13: 13rem,
  14: 14rem,
  15: 15rem,
  16: 16rem,
  17: 17rem,
  18: 18rem,
  19: 19rem,
  20: 20rem);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns     : 24;
$grid-gutter-width: 1.2rem;
$grid-row-columns : 12;


// z-indexing

// $z1: 	111;
// $z2: 	222;
// $z3: 	333;
// $z4: 	444;
// $z5: 	555;
// $z6: 	666;
// $z7: 	777;
// $z8: 	888;
// $z9: 	999;
// $z10: 	1000;

$font-family-sans-serif: urw-form,
'Manrope',
sans-serif;
$headings-font-family: urw-form,
sans-serif;

// Carousel

$carousel-control-color      : $second-dark;
$carousel-indicator-active-bg: $second-dark;

$enable-negative-margins: true;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// $theme-colors: map-merge($theme-colors, $colors);
$theme-colors: map-remove($theme-colors, "blue", "indigo", "purple", "pink", "red", "orange", "yellow", "green", "teal", "cyan");



// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";


// 6. Optionally include any other parts as needed

@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

@import "../node_modules/bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here

$menu-width-dt: 6rem;
// blends

/* Keyword values */

.mix-blend-normal {
  mix-blend-mode: normal;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.mix-blend-screen {
  mix-blend-mode: screen;
}

.mix-blend-overlay {
  mix-blend-mode: overlay;
}

.mix-blend-darken {
  mix-blend-mode: darken;
}

.mix-blend-lighten {
  mix-blend-mode: lighten;
}

.mix-blend-color-dodge {
  mix-blend-mode: color-dodge;
}

.mix-blend-color-burn {
  mix-blend-mode: color-burn;
}

.mix-blend-hard-light {
  mix-blend-mode: hard-light;
}

.mix-blend-soft-light {
  mix-blend-mode: soft-light;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.mix-blend-exclusion {
  mix-blend-mode: exclusion;
}

.mix-blend-hue {
  mix-blend-mode: hue;
}

.mix-blend-saturation {
  mix-blend-mode: saturation;
}

.mix-blend-color {
  mix-blend-mode: color;
}

.mix-blend-luminosity {
  mix-blend-mode: luminosity;
}

.logo-icon {

  width : 82px;
  height: auto;

  @include media-breakpoint-up(md) {
    width: 98px;

  }
}

// layouts


.badge-work {
  display      : inline-block;
  margin-right : 1rem;
  margin-bottom: 1rem;
  white-space  : nowrap;
}

#the-menu {
  position        : fixed;
  z-index         : 950;
  background-color: $white;
  text-align      : center;
  height          : auto;
  top             : auto;
  bottom          : 0;
  left            : auto;
  width           : 100%;


  @include media-breakpoint-up(md) {
    top          : 0;
    left         : 0;
    width        : $menu-width-dt;
    height       : fit-content;
    margin-top   : auto;
    margin-bottom: auto;
  }

  &.the-menu {
    i {

      font-size: 1.5rem;

      @include media-breakpoint-up(md) {
        font-size: 2rem;
      }
    }

    .btn {
      transition: background-color 0.3s ease-in-out, border-left-width 0.1s ease-in-out;

      border-radius      : 0;
      padding            : 10px 0 10px 0;
      margin             : 0;
      width              : 20%;
      font-size          : .8rem;
      border             : none;
      border-bottom-width: 6px;
      border-bottom-style: solid;
      background-color   : $white;
      color              : $black;


      @include media-breakpoint-up(sm) {
        padding: 10px 0;
      }

      @include media-breakpoint-up(md) {
        border           : none;
        border-left-width: 8px;
        border-left-style: solid;
        font-size        : 1.2rem;

        padding: 20px 0;
        display: block;
        width  : 100%;


        &:hover {
          border-left-width: 16px;

        }

        &.active {
          border-left-width: 8px;

          &:hover {
            border-left-width: 16px;
          }
        }
      }


      &.hi {
        border-color: $prime-light;
        color       : $prime-dark;

        &:hover {
          border-color: $prime;
          background  : tint-color($prime, 88%);
          color       : shade-color($prime, 88%);
        }

        &.active {
          border-color: $prime-dark;
          color       : tint-color($prime, 80%);
          background  : shade-color($prime, 0%);
        }
      }

      &.work {
        border-color: $second-light;
        color       : $second-dark;

        &:hover {
          border-color: $second;
          background  : tint-color($second, 88%);
          color       : shade-color($second, 88%);
        }

        &.active {
          border-color: shade-color($second, 44%);
          color       : tint-color($second, 100%);
          background  : shade-color($second, 22%);
        }
      }

      &.results {
        border-color: $pop-light;
        color       : shade-color($pop, 44%);

        &:hover {
          border-color: $pop;
          background  : tint-color($pop, 88%);
          color       : shade-color($pop, 88%);
        }

        &.active {
          border-color: $pop-dark;
          color       : tint-color($pop, 100%);
          background  : shade-color($pop, 0%);
        }
      }

      &.resume {
        border-color: $third-light;
        color       : $third-dark;

        &:hover {
          border-color: $third;
          background  : tint-color($third, 100%);
          color       : shade-color($third, 88%);
        }

        &.active {
          border-color: $third-dark;
          color       : tint-color($third, 100%);
          background  : shade-color($third, 0%);
        }
      }

      &.contact {
        border-color: $fourth-light;
        color       : $fourth-dark;

        &:hover {
          border-color: $fourth;
          background  : tint-color($fourth, 88%);
          color       : shade-color($fourth, 88%);
        }

        &.active {
          border-color: $fourth-dark;
          color       : tint-color($fourth, 80%);
          background  : shade-color($fourth, 0%);
        }
      }
    }
  }
}


.h-hello {
  background             : -webkit-linear-gradient($prime-dark, $prime-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  &.solid-left {
    border-image: linear-gradient(to right, $black, transparent) 1;
  }

  &.solid-right {
    border-image: linear-gradient(to left, $black, transparent) 1;
  }

  &.solid-center {
    border-image: linear-gradient(to left, transparent, $black, transparent) 1;
  }
}

section {
  .content {
    position    : relative;
    z-index     : 10;
    padding-left: 0;

    @include media-breakpoint-up(md) {
      padding-left: $menu-width-dt;
    }
  }

  &#quote {

    color              : darken(rgb(146, 136, 137), 38%);
    // background-image: linear-gradient(180deg, rgb(145 136 137), rgba(152, 143, 146, 1)),
    //   linear-gradient(0deg, rgb(146, 136, 137), rgba(146, 136, 137, 1));
    background-color   : $prime-light;
    position           : relative;
    z-index            : 10;


    .carousel {
      min-height: 160px;
    }

    hr {
      &.solid-left {
        border-image: linear-gradient(to right, darken(rgb(146, 136, 137), 42%), transparent) 1;
      }

      &.solid-right {
        border-image: linear-gradient(to left, darken(rgb(146, 136, 137), 42%), transparent) 1;
      }

      &.solid-center {
        border-image: linear-gradient(to left, transparent, darken(rgb(146, 136, 137), 42%), transparent) 1;
      }
    }


  }

  &#hi {

    .h-jakeicon {
      font-size: calc(2rem + 28vw);

      @include media-breakpoint-up(sm) {
        font-size : calc(2rem + 22vw);
        margin-top: -8rem;
      }

      @include media-breakpoint-up(md) {
        font-size: calc(2rem + 16vw);
      }

      @include media-breakpoint-up(lg) {
        font-size: calc(2rem + 10vw);
      }

      @include media-breakpoint-up(xl) {
        font-size: calc(2rem + 12vw);
      }

      @include media-breakpoint-up(xxl) {
        font-size: calc(2rem + 10vw);
      }
    }


    .h-hello {
      font-size: calc(1rem + 3vw);

      & small {
        font-size: calc(.7rem + 2vw);
      }

      @include media-breakpoint-up(sm) {
        & small {
          font-size: calc(.5rem + 2vw);
        }
      }
    }

    .h-believe {
      font-size: calc(.8rem + 2vw);

      @include media-breakpoint-up(sm) {
        font-size: calc(.4rem + 2vw);
      }

      @include media-breakpoint-up(xxl) {
        font-size: calc(.1rem + 2vw);
      }
    }




    // background-image: linear-gradient($white, $prime-light);
    background-image: radial-gradient(ellipse at center center, $white, transparent),
    radial-gradient(ellipse at top center, $second-light, transparent),
    radial-gradient(ellipse at top right, $third-light, transparent),
    radial-gradient(ellipse at top left, $pop-light, transparent);

    // radial-gradient(ellipse at center right, $white, transparent)

    background-color: $white;

    &.row-content,
    .row-content {

      height: 90vh;

      @include media-breakpoint-up(md) {
        height: 100vh;
      }
    }
  }

  &#work {
    hr {
      &.solid-left {
        border-image: linear-gradient(to right, $second, transparent) 1;
      }

      &.solid-right {
        border-image: linear-gradient(to left, $second, transparent) 1;
      }

      &.solid-center {
        border-image: linear-gradient(to left, transparent, $second, transparent) 1;
      }
    }
  }

  &#results {
    color: shade-color($pop, 76%);

    hr {
      &.solid-left {
        border-image: linear-gradient(to right, shade-color($pop, 76%), transparent) 1;
      }

      &.solid-right {
        border-image: linear-gradient(to left, shade-color($pop, 76%), transparent) 1;
      }

      &.solid-center {
        border-image: linear-gradient(to left, transparent, shade-color($pop, 76%), transparent) 1;
      }
    }
  }

  &#resume {
    color: shade-color($third, 68%);

    hr {
      &.solid-left {
        border-image: linear-gradient(to right, shade-color($third, 68%), transparent) 1;
      }

      &.solid-right {
        border-image: linear-gradient(to left, shade-color($third, 68%), transparent) 1;
      }

      &.solid-center {
        border-image: linear-gradient(to left, transparent, shade-color($third, 68%), transparent) 1;
      }
    }
  }

  &#contact {
    color: tint-color($fourth-light, 52%);

    hr {
      &.solid-left {
        border-image: linear-gradient(to right, tint-color($fourth-light, 60%), transparent) 1;
      }

      &.solid-right {
        border-image: linear-gradient(to left, tint-color($fourth-light, 60%), transparent) 1;
      }

      &.solid-center {
        border-image: linear-gradient(to left, transparent, tint-color($fourth-light, 60%), transparent) 1;
      }
    }
  }
}


$wave-height-mb: 10vh;
$wave-height-dt: 22vh;

// waves
.waves-wrapper {
  position: relative;
  z-index : 5;
  bottom  : $wave-height-mb;

  @include media-breakpoint-up(md) {
    bottom: $wave-height-dt;
  }

  &.top {
    transform: rotate(180deg);
    top      : 0px;
  }

}

.waves {
  width        : 100%;
  height       : $wave-height-mb;
  margin-bottom: 0px;
  /*Fix for safari gap*/

  @include media-breakpoint-up(md) {
    height: $wave-height-dt;
  }
}

$mix-blend-mode: none;

.wave-one {
  fill          : rgba($prime-light, 100%);
  mix-blend-mode: $mix-blend-mode;
}

.wave-two {
  fill          : rgba($second, 25%);
  mix-blend-mode: $mix-blend-mode;
}

.wave-three {
  fill          : rgba($third, 25%);
  mix-blend-mode: $mix-blend-mode;
}

.wave-four {
  fill          : rgba($pop, 25%);
  mix-blend-mode: $mix-blend-mode;
}

#results {
  .wave-one {
    fill          : rgba($white, 100%);
    mix-blend-mode: $mix-blend-mode;
  }

  .wave-two {
    fill          : rgba($white, 25%);
    mix-blend-mode: $mix-blend-mode;
  }

  .wave-three {
    fill          : rgba($white, 25%);
    mix-blend-mode: $mix-blend-mode;
  }

  .wave-four {
    fill          : rgba($white, 25%);
    mix-blend-mode: $mix-blend-mode;
  }
}

#resume {
  .wave-one {
    fill          : rgba($pop-light, 100%);
    mix-blend-mode: $mix-blend-mode;
  }

  .bottom {
    .wave-one {
      fill          : rgba(#714444, 100%);
      mix-blend-mode: $mix-blend-mode;
    }
  }

  .wave-two {
    fill          : rgba($third-dark, 12%);
    mix-blend-mode: $mix-blend-mode;
  }

  .wave-three {
    fill          : rgba($third, 12%);
    mix-blend-mode: $mix-blend-mode;
  }

  .wave-four {
    fill          : rgba($third-dark, 12%);
    mix-blend-mode: $mix-blend-mode;
  }
}


/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay   : -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay   : -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay   : -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay   : -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.thinking-row {
  &:nth-child(even) {
    .thinking-item {
      &:nth-child(even) {
        .thinking-thumb {
          background: linear-gradient(tint-color($second, 52%), tint-color($second, 94%));
        }
      }

      &:nth-child(odd) {
        .thinking-thumb {
          background: linear-gradient(tint-color($second, 94%), tint-color($second, 52%));
        }
      }
    }
  }

  &:nth-child(odd) {
    .thinking-item {
      &:nth-child(odd) {
        .thinking-thumb {
          background: linear-gradient(tint-color($second, 52%), tint-color($second, 94%));
        }
      }

      &:nth-child(even) {
        .thinking-thumb {
          background: linear-gradient(tint-color($second, 94%), tint-color($second, 52%));
        }
      }
    }
  }
}

.thinking-item {

  .thinking-thumb {
    width        : 100%;
    height       : 180px;
    border-radius: 2rem;
    margin       : 0 0 20px 0;
    color        : shade-color($second, 50%);
    border       : none;
    transition   : transform .2s ease-in-out;
    box-shadow   : inset 0 0rem 1rem rgba($second, .1), 0 1rem 3rem rgba($black, .20);

    /* Animation */
    .thinking-title {
      margin: 15px 0 0 0;

    }

    .thinking-view {
      margin-top   : 12px;
      margin-bottom: 0;
    }

    .thinking-icon {
      font-size: 48px;
    }

    &:hover {
      transform: scale(1.02);
    }
  }
}

.btn-art {
  transition: transform .2s ease-in-out;

  /* Animation */
  &:hover {
    transform: scale(1.06);
  }
}