<a class="btn nav-link hi active" href="#hi">
    <i class="fak fa-jm-icon-cropped"></i>
    <div class="text-lowercase">Home</div>
</a>
<a class="btn nav-link work" href="#work">
    <i class="fa-thin fa-pen-ruler" role="img"></i>
    <div class="text-lowercase">Work</div>
</a>
<a class="btn nav-link results" href="#results">
    <i class="fa-thin fa-fw fa-analytics" role="img"></i>
    <div class="text-lowercase">Results</div>
</a>
<a class="btn nav-link resume" href="#resume">
    <i class="fa-thin fa-fw fa-list-timeline" role="img"></i>
    <div class="text-lowercase">Resume</div>
</a>
<a class="btn nav-link education" href="#education">
    <i class="fa-thin fa-fw fa-brain-circuit" role="img"></i>
    <div class="text-lowercase">edu</div>
</a>