<!-- HYDRA -->
<div class="modal fade" id="hydra" tabindex="-1" aria-labelledby="hydraLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="hydraLabel"><img loading="lazy"
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> Hydra Design System</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center text-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle"
                                    src="images/work/hydra/brief.png" alt="">
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3>Project Brief:</h3>
                            <hr class="solid-center">
                            <p>I championed and implemented the HYDRA design system, a large-scale project that unified
                                the customer experience across the company's products and streamlined the design and
                                engineering processes.</p>
                            <p>Executing the project spanned multiple departments. I presented the issues and plan of
                                action to the SVP of Marketing and the CTO, gaining executive sponsorship and support.
                            </p>

                            <h4 class="font-brand mb-0 mt-4">Contributions:</h4>

                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-clipboard-list-check text-second" aria-hidden="true"></i>
                                Project Lead</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-magnifying-glass-chart text-second" aria-hidden="true"></i>
                                Analysis</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-solar-system text-second" aria-hidden="true"></i>
                                System Design</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-laptop-code text-second" aria-hidden="true"></i>
                                System Dev</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-phone-laptop text-second" aria-hidden="true"></i>
                                Device Testing</span>
                            <h4 class="font-brand mb-0 mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second" aria-hidden="true"></i>
                                Adobe Suite</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-code text-second" aria-hidden="true"></i>
                                HTML</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-brackets-curly text-second" aria-hidden="true"></i>
                                CSS/SASS</span>

                            <span class="badge-work">
                                <i class="fab fa-git-alt text-second" aria-hidden="true"></i>
                                GIT</span>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 mt-5">
                            <h4>The Problem</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-md-12 col-lg-14 align-self-center">
                            <h5>The user experience was fragmented.</h5>
                            <p> Each phase was on a different tech stack and off-brand to boot. There were eight
                                variants of buttons. It got worse from there. Identical components that did the same
                                thing looked different throughout. Error messaging was created ad hoc for each element,
                                with various visual treatments and copy. To add a layer of complexity, it had to support
                                multiple sub-brands.</p>
                            <p>The fragmentation created confusion and unneeded friction for the user. The insufficient
                                variety of UI elements created design and technical debt.</p>
                        </div>
                        <div class="col-24 col-md-12 col-lg-10">
                            <figure class="figure">
                                <img loading="lazy" src="images/work/hydra/ui-rag.png"
                                    class="figure-img img-fluid rounded" alt="UI fragmentation on buttons">
                                <figcaption class="figure-caption text-end">UX/UI Fragmentation - Button Treatments
                                </figcaption>
                            </figure>
                        </div>
                        <div class="col-24 col-md-12">
                            <figure class="figure">
                                <img loading="lazy" src="images/work/hydra/error-01.png"
                                    class="figure-img img-fluid rounded" alt="...">
                                <figcaption class="figure-caption text-end">UX/UI Fragmentation - error and input
                                    treatments.</figcaption>
                            </figure>
                        </div>
                        <div class="col-24 col-md-12">
                            <figure class="figure">
                                <img loading="lazy" src="images/work/hydra/error-02.png"
                                    class="figure-img img-fluid rounded" alt="...">
                                <figcaption class="figure-caption text-end">UX/UI Fragmentation - error and input
                                    treatments.</figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 mt-5">
                            <h4>The Rise of Hydra</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 align-self-center">
                            <p>I created a single source of truth for the UX/UI across our products. I streamlined the
                                UI and created a design system that would be tech agnostic and support multiple brands.
                                I established a vocabulary around the design system that would make sense to UI
                                developers and engineers.</p>
                            <p>I engineered the design system in a way that only affected the frontend mark-up. This
                                enabled us to avoid costly back-end updates, leaving the functional code behind the
                                front end untouched.</p>
                            <p>The sub-brand issues were solved by having all attributes set to variables. The variables
                                allowed for a unique brand look, color, fonts, and UI treatment without changing the
                                core. The design system could be independently updated and consumed across any
                                application or digital product.</p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <p class="font-brand h4">Nomenclature</p>
                            <div class="row row-cols-2 text-center">
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-image fa-2x" aria-hidden="true"></i>
                                            </p>
                                            <p class="card-title font-brand m-0">Elements</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-toggle-on fa-2x"
                                                    aria-hidden="true"></i></p>
                                            <p class="card-title font-brand m-0">Controls</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-sliders fa-2x"
                                                    aria-hidden="true"></i></p>
                                            <p class="card-title font-brand m-0">Components</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-light fa-sidebar fa-2x" aria-hidden="true"></i>
                                            </p>
                                            <p class="card-title font-brand m-0">Modules</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-table-layout fa-2x"
                                                    aria-hidden="true"></i></p>
                                            <p class="card-title font-brand m-0">Templates</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-browsers fa-2x"
                                                    aria-hidden="true"></i></p>
                                            <p class="card-title font-brand m-0">Pages</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mb-4">
                        <div class="col-24 mt-5 text-start">
                            <h4>The System Framework</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-third w-100">
                                    <strong class="py-4 fw-bold">Consistent UX/UI</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mb-4">
                        <div class="col-6">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-prime w-100">
                                    <strong class="py-4 fw-bold">App One</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-prime w-100">
                                    <strong class="py-4 fw-bold">App Two</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-prime w-100">
                                    <strong class="py-4 fw-bold">Main Website</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-second w-100">
                                    <strong class="py-4 fw-bold">Sub Website</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mb-4">
                        <div class="col-18">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-prime w-100">
                                    <strong class="py-4 fw-bold">Main Brand</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-second w-100">
                                    <strong class="py-4 fw-bold">Sub Brand</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mb-4">
                        <div class="col-24">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-fourth-light w-100">
                                    <strong class="py-4 fw-bold">Design System</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center mb-4">
                        <div class="col-12">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-fourth w-100">
                                    <strong class="py-5 fw-bold">C#</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="progress h-100">
                                <div class="progress-bar progress-bar-striped bg-fourth-dark w-100">
                                    <strong class="py-5 fw-bold">PHP</strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24 mt-5">
                            <h4>UI Elements</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12">
                            <img loading="lazy" src="images/work/hydra/hydra-ui-01.png" alt="Big'ol Hydra"
                                class="img-fluid">
                        </div>
                        <div class="col-24 col-lg-12">
                            <img loading="lazy" src="images/work/hydra/hydra-ui-02.png" alt="Big'ol Hydra"
                                class="img-fluid">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24 mt-5">
                            <h4>Why Hydra?</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-8">
                            <img loading="lazy" src="images/work/hydra/why.jpg" alt="Big'ol Hydra"
                                class="img-fluid rounded-circle shadow-lg">
                        </div>
                        <div class="col-24 col-lg-12 align-self-center">
                            <p>Good question! Hydra was a mythical beast that had many heads and one body. The design
                                system had a core body of design patterns that branched out to many systems and brands.
                                🙂</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END HYDRA -->