<!-- split-->
<div class="modal fade" id="split01" tabindex="-1" aria-labelledby="split01Label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="split01Label"><img
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> A/B Testing</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-20 col-lg-12 col-xl-8 align-self-center text-center">
                            <p><img class="img-fluid shadow-lg border border-light rounded-circle"
                                    src="images/work/split01-modal/thumb.png" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <h3>Never Stop Testing!</h3>
                            <hr class="solid-center">
                            <p>A/B split testing allows you to make data-driven decisions about changes to your
                                website, instead of relying on
                                guesswork or assumptions. For example, you can test different headlines, images,
                                call-to-action (CTA) buttons, and
                                layouts to see which combination generates the most clicks or conversions. By
                                identifying the most effective elements on
                                your site, you can make targeted improvements that result in better user
                                experiences, higher engagement, and increased
                                revenue.
                            </p>
                            <p>Overall, A/B split testing can help you optimize your website for your users' needs
                                and preferences, leading to
                                increased traffic, conversions, and revenue. It's a cost-effective way to make
                                data-driven decisions that will benefit
                                your business in the long run.</p>
                            <p>
                                I partnered with the talented product marketing manager <a class="text-secondary"
                                    href="https://www.linkedin.com/in/iamjr/" target="_blank">J.R. Hernandez</a> on
                                the following projects.
                            </p>
                        </div>

                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24 col-xl-16 col-xxl-14 py-5">
                            <hr class="solid-center">
                        </div>
                    </div>
                    <div class="row justify-content-center flex-row-reverse">
                        <div class="col-20 col-lg-12 col-xl-8 align-self-center">
                            <p><img class="img-fluid shadow-lg border border-light rounded-circle"
                                    src="images/work/split01-modal/web-md-thumb.png" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <h4>WebMD Demographic Test</h4>
                            <hr class="solid-center">
                            <p>Hypothesis:</strong> WebMD would attract a different demographic than
                                DentalPlans.com, which leans heavily to seniors. By showing a younger demographic we
                                would resonate better with the customers.
                            </p>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-lg-5">

                        <div class="col-24 col-lg-12">
                            <h5 class="mt-4">Control</h5>
                            <hr class="solid-center">
                            <p><img class="img-fluid shadow-lg" src="images/work/webmd-modal/control.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <h5 class="mt-4">
                                <i class="fa-regular fa-trophy"></i>
                                V1 Winner +14.9%
                                <i class="fal fa-long-arrow-up"></i>
                            </h5>
                            <hr class="solid-center">
                            <p><img class="img-fluid shadow-lg" src="images/work/webmd-modal/winner.png"
                                    alt="WebMD Homepage Desktop "></p>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-lg-5">
                    <div class="col-24 col-lg-12">
                        <h5 class="mt-4">
                            V2 -2.48%
                            <i class="fal fa-long-arrow-down"></i>
                        </h5>
                        <hr class="solid-center">
                        <p><img class="img-fluid shadow-lg" src="images/work/webmd-modal/v2.png"
                                alt="WebMD Homepage Desktop"></p>
                    </div>
                    <div class="col-24 col-lg-12">
                        <h5 class="mt-4">
                            V3 -35.13%
                            <i class="fal fa-long-arrow-down"></i>
                        </h5>
                        <hr class="solid-center">
                        <p><img class="img-fluid shadow-lg" src="images/work/webmd-modal/v3.png"
                                alt="WebMD Homepage Desktop"></p>
                    </div>
                    </div>
                <div class="row justify-content-center">
                    <div class="col-24 col-xl-16 col-xxl-14 py-5">
                        <hr class="solid-center">
                    </div>
                </div>
                <div class="row">

                    <div class="row justify-content-center">
                        <div class="col-20 col-lg-12 col-xl-8 align-self-center">
                            <p><img class="img-fluid shadow-lg border border-light rounded-circle"
                                    src="images/work/split01-modal/sc-thumb.png" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <h3>Saving Calculator</h3>
                            <hr class="solid-center">
                            <p>Hypothesis:</strong> Providing customers more information on the product
                                and using a niche celebrity would increase performance. The additional content
                                would also improve organic
                                rankings over time.
                            </p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <h5>Control</h5>
                            <hr class="solid-center">
                            <p><img class="img-fluid shadow-lg" src="images/work/split01-modal/sc-control.png"
                                    alt="WebMD Homepage Desktop  by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <h5>
                                <i class="fa-regular fa-trophy"></i>
                                V1 Winner +24.2%
                                <i class="fal fa-long-arrow-up"></i>
                            </h5>
                            <hr class="solid-center">
                            <p><img class="img-fluid shadow-lg" src="images/work/split01-modal/sc-winner.png"
                                    alt="WebMD Homepage Desktop "></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</div>
<!-- END split -->
