<!-- WB -->
<div class="modal fade" id="personas" tabindex="-1" aria-labelledby="personas" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="personas"><img src="images/brand/SVG/jm-icon-full-brand-prime.svg"
                        alt="Jacob Medley | UX UI Designer" height="58px" width="58px">Personas</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-20 col-lg-12 col-xl-8 align-self-center text-center">
                            <p><img class="img-fluid shadow-lg rounded-circle"
                                    src="../images/work/kitchen-sink/persona-one.webp" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-11 align-self-center">
                            <h3>Personas</h3>
                            <hr>
                            <p>At DentalPlans, I collaborated with the business intelligence team and the product
                                marketing manager on persona development projects. Our goal was to create detailed and
                                actionable personas to guide our product and marketing strategies. One standout example
                                was "Frugal Francine," a persona representing cost-conscious consumers who seek maximum
                                value for their money.</p>

                            <h4>Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-clipboard-list-check text-second"></i>
                                Co-Project Lead</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-fill-drip text-second"></i>
                                Visual Design</span>

                            <h4 class="mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second"></i>
                                Adobe Suite</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24 col-xl-16 col-xxl-14 py-5">
                            <hr class="solid-center">
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">

                        <div class="col-24">
                            <h3 class="mb-3 display-3 fw-bold">Example Persona</h3>
                            <p><img src="/images/work/kitchen-sink/Persona-Cards.png"
                                    class="img-fluid rounded-3 shadow-lg" alt="Content Strategy">
                            </p>

                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END WB -->