<!-- BEE -->
<div class="modal fade" id="bee" tabindex="-1" aria-labelledby="beeLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="beeLabel"><img src="images/brand/SVG/jm-icon-full-brand-prime.svg"
                        alt="Jacob Medley | UX UI Designer" height="58px" width="58px"> BumbleBeeMD</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center text-center">
                            <p><img class="img-fluid" src="images/work/bmd-modal/brief.png" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3>Project Brief:</h3>
                            <hr class="solid-center">
                            <p>I was the creative lead and responsible for the primary concept. We worked with a
                                brand agency to develop the colors and illustrations. I took the final brand element
                                and incorporated them in the UI design of the site.</p>
                            <h4 class="font-brand mb-0 mt-4 font-sans font-sans-extra-bold">Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-lightbulb-on text-second"></i>
                                Creative Lead</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-pencil-ruler text-second"></i>
                                UX/UI Design</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-laptop-code text-second"></i>
                                Front-end Dev</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-ruler-triangle text-second"></i>
                                Wireframes</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-clipboard-list-check text-second"></i>
                                Project Lead</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-phone-laptop text-second"></i>
                                Device Testing</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-user-chart text-second"></i>
                                User Testing</span>

                            <h4 class="font-brand mb-0 mt-4 font-sans font-sans-extra-bold">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second"></i>
                                Adobe Suite</span>
                            <span class="badge-work">
                                <i class="fab fa-wordpress-simple text-second"></i>
                                WordPress</span>
                            <span class="badge-work">
                                <i class="fab fa-bootstrap text-second"></i>
                                Bootstrap</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-code text-second"></i>
                                HTML</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-brackets-curly text-second"></i>
                                CSS/LESS</span>
                            <span class="badge-work">
                                <i class="fab fa-git-alt text-second"></i>
                                GIT</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Homepage</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img class="img-fluid shadow-lg" src="images/work/bmd-modal/home-dt.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                            <p><img class="img-fluid" src="images/work/bmd-modal/gran-ma-w.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img class="img-fluid shadow-lg"
                                    src="images/work/bmd-modal/home-mb.png" alt="BumblebeeMD Homepage Mobile"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Content Page</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img class="img-fluid shadow-lg" src="images/work/bmd-modal/content-dt.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                            <p class="text-center"><img class="img-fluid" src="images/work/bmd-modal/family.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img class="img-fluid shadow-lg"
                                    src="images/work/bmd-modal/content-mb.png" alt="BumblebeeMD Homepage Mobile">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>UI Components & Style</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12">
                            <h5>Buttons</h5>
                            <hr class="solid-center">
                            <p><img class="img-fluid" src="images/work/bmd-modal/buttons.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <h5>Inputs</h5>
                            <hr class="solid-center">
                            <p><img class="img-fluid" src="images/work/bmd-modal/inputs.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                        </div>
                        <div class="col-24">
                            <h5>Icons</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12">
                            <p><img class="img-fluid" src="images/work/bmd-modal/icons-01.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <p><img class="img-fluid" src="images/work/bmd-modal/icons-02.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                        </div>
                        <div class="col-24">
                            <h5>Image Treatments</h5>
                            <hr class="solid-center">
                            <p><img class="img-fluid" src="images/work/bmd-modal/images.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                        </div>
                        <div class="col-24">
                            <h5>"Buy Box" Treatments</h5>
                            <hr class="solid-center">
                            <p><img class="img-fluid" src="images/work/bmd-modal/buy-box.png"
                                    alt="BumblebeeMD Homepage Desktop"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Wireframes</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img class="img-fluid shadow-lg mb-5" src="images/work/bmd-modal/home-wf-dt.png"
                                    alt=""></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img class="img-fluid shadow-lg"
                                    src="images/work/bmd-modal/home-wf-mb.png" alt=""></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END BEE -->
