<!-- reveal -->
<div class="modal fade" id="reveal" tabindex="-1" aria-labelledby="revealLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="revealLabel"><img src="images/brand/SVG/jm-icon-full-brand-prime.svg"
                        alt="Jacob Medley | UX UI Designer" height="58px" width="58px"> Reveal Aligners</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <p><img class="img-fluid shadow-lg rounded-circle"
                                    src="images/work/kitchen-sink/reveal-cover.jpg" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3>Project Brief:</h3>
                            <hr class="solid-center" />
                            <p> In a creative collaboration for Reveal Clear Aligners, our team set out to highlight the
                                superiority and clarity of our product over the competition. I adopted a fun and edgy
                                tone for both the copy and visuals to ensure the campaign stood out for my creatives.

                            </p>

                            <p><strong>Conceptual and Visual Contributions:</strong>
                            </p>
                            <ul>
                                <li><strong>Yup, It's That Clear:</strong> This concept emphasized the transparency and
                                    subtlety of the aligners.
                                </li>
                                <li><strong>So Clear, Like It's Not Even There:</strong> Aimed to convey the
                                    near-invisibility of the product, making it blend seamlessly.</li>
                            </ul>

                            <p><strong>Visual Contributions:</strong></p>

                            <ul>
                                <li><strong>The Difference Is Clear:</strong> This concept, developed by Rick Hoyle,
                                    provided a strong comparative angle, further driving home our message of clarity.
                                </li>
                                <li><strong>OMG, Your Aligner Is Showing:</strong> Played on the human emotion of being
                                    embarrassed to have an aligner that is visible, highlighting how the aligners are
                                    practically undetectable.</li>
                            </ul>



                            <p>Working together, we ensured that each concept seamlessly fit within the overarching
                                theme of the campaign. Our combined efforts brought a cohesive and impactful message to
                                life, demonstrating that the choice of Reveal Clear Aligners was indeed clear.</p>
                            <h4>Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-lightbulb-on text-second"></i>
                                Creative Concepting</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-handshake text-second"></i>
                                Collaboration</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-fill-drip text-second"></i>
                                Visual Design</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 py-5">
                            <h4>Concepts</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/reveal-clear-01.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                        <div class="col-24 py-5 d-block d-lg-none">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/reveal-clear-02.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 py-5">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/reveal-omg-01.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                        <div class="col-24 py-5 d-block d-lg-none">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/reveal-cost-01.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END reveal -->