<!-- WebMD -->
<div class="modal fade" id="webmd" tabindex="-1" aria-labelledby="webmdLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen py-md-4">
        <div class="modal-content container rounded-3">
            <div class="modal-header justify-content-between">
                <h2 class="modal-title fs-5" id="webmdLabel"><img loading="lazy"
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> WebMD</h2>
                <button type="button" class="btn btn-prime rounded-pill btn-close-modal" data-bs-dismiss="modal"
                    aria-label="Close"><i class="fa-sharp fa-regular fa-xmark-large"></i></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle"
                                    src="images/work/webmd-modal/brief-2.png" alt="">
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3 class="font-sans font-sans-extra-bold">Project Brief:</h3>
                            <hr class="solid-center">
                            <p>Internet Brands wanted to open up new opportunities for growth across their
                                portfolio. One of these efforts was combining the strength of WebMD's brand and
                                DentalPlans product with a new eCommerce website. The challenge: we had less than
                                eight
                                weeks to plan and launch.
                                <strong>We did it in six!
                                    <i class="fa-regular fa-grin-wink"></i>
                                </strong>
                            </p>

                            <h4>Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-lightbulb-on text-second"></i>
                                Creative Lead</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-pencil-ruler text-second"></i>
                                UX/UI Design</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-laptop-code text-second"></i>
                                Front-end Dev</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-ruler-triangle text-second"></i>
                                Wireframes</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-clipboard-list-check text-second"></i>
                                Project Lead</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-phone-laptop text-second"></i>
                                Device Testing</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-user-chart text-second"></i>
                                User Testing</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-vial text-second"></i>
                                A/B Testing</span>

                            <h4 class="mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second"></i>
                                Adobe Suite</span>
                            <span class="badge-work">
                                <i class="fab fa-wordpress-simple text-second"></i>
                                WordPress</span>
                            <span class="badge-work">
                                <i class="fab fa-bootstrap text-second"></i>
                                Bootstrap</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-code text-second"></i>
                                HTML</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-brackets-curly text-second"></i>
                                CSS/LESS</span>
                            <span class="badge-work">
                                <i class="fab fa-git-alt text-second"></i>
                                GIT</span>

                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-24">
                            <h5>Homepage</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/webmd-modal/home-dt.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/home-mb.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-24">
                            <h5>Plan Search Results</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/plan-search-dt.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/plan-search-mb.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-24">
                            <h5>Plan Compare</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/plan-compare-dt.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/plan-compare-mb.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-24">
                            <h5>Plan Details</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/plan-details-dt.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/plan-details-mb.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-24">
                            <h5>Dentist Search Results</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/dentist-search-dt.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/dentist-search-mb.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-24">
                            <h5>Dentist Details</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/dentist-profile-dt.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/dentist-profile-mb.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-24">
                            <h5>Cart</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/webmd-modal/cart-dt.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/webmd-modal/cart-mb.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-prime btn-lg rounded-pill btn-close-modal"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END WebMD -->