<!-- reveal -->
<div class="modal fade" id="reveal" tabindex="-1" aria-labelledby="revealLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="revealLabel"><img src="images/brand/SVG/jm-icon-full-brand-prime.svg"
                        alt="Jacob Medley | UX UI Designer" height="58px" width="58px"> Reveal Aligners</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <p><img class="img-fluid shadow-lg rounded-circle"
                                    src="images/work/kitchen-sink/reveal-cover.jpg" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3>Project Brief:</h3>
                            <hr class="solid-center" />
                            <p> For the Reveal Clear Aligners campaign, I had the pleasure of working with a dynamic
                                team of designers and marketers. Our objective was to clearly showcase the superiority
                                of Reveal Clear Aligners over the competition. To achieve this, we adopted a fun and
                                edgy creative tone, reflected in both the copy and the visuals.</p>

                            <p>My role involved developing engaging visuals that aligned with this creative direction.
                                It was a privilege to work on concepts from the brilliant designer Rick Hoyle, who
                                employed a compelling "them vs. us" narrative. This approach effectively highlighted the
                                advantages of Reveal Clear Aligners in a distinctive and memorable way.</p>

                            <p>The following visuals demonstrate the unique and engaging style we crafted for this
                                campaign, blending fun elements with a clear message of superiority.</p>
                            <h4>Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-lightbulb-on text-second"></i>
                                Creative Concepting</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-handshake text-second"></i>
                                Collaboration</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-fill-drip text-second"></i>
                                Visual Design</span>

                            <h4 class="mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second"></i>
                                Adobe Suite</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 py-5">
                            <h4>Concepts</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/reveal-clear-01.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                        <div class="col-24 py-5 d-block d-lg-none">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/reveal-clear-02.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 py-5">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/reveal-omg-01.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                        <div class="col-24 py-5 d-block d-lg-none">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/reveal-cost-01.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END reveal -->