<div class="modal fade" id="wrong" tabindex="-1" aria-labelledby="wrongLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="wrongLabel"><img src="images/brand/SVG/jm-icon-full-brand-prime.svg"
                        alt="Jacob Medley | UX UI Designer" height="58px" width="58px"> The Wrong Campaign</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <p><img class="img-fluid shadow-lg rounded-circle"
                                    src="images/work/kitchen-sink/wrong-cover.jpg" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3>Project Brief:</h3>
                            <hr class="solid-center" />
                            <p> The "WRONG" marketing campaign aimed to promote dental savings plans to individuals
                                seeking crowns, fillings, and root canals—terms with the highest search volume and
                                traffic. Recognizing that customers often feel dental care costs are prohibitively high,
                                we needed to swiftly communicate that dental savings plans offer substantial cost
                                reductions and several key advantages over traditional dental insurance.

                            </p>


                            <p> <strong>Campaign Concept:</strong></p>
                            <p>The core message was that with a dental savings plan, the costs for these procedures are
                                not out-of-reach, contrary to common perceptions. The concept was encapsulated in the
                                idea that the customer was "WRONG" to think dental care was unaffordable.</p>

                            <p><strong>Visual and Messaging Strategy:</strong></p>

                            <ul>
                                <li><strong>Visual Approach:</strong> We aimed for a visually striking look, using bold
                                    and aggressive headlines.</li>
                                <li><strong>Inclusivity:</strong> Ensured the campaign was diverse and inclusive,
                                    representing various age groups and ethnic backgrounds.</li>
                                <li><strong>Execution:</strong>
                                    Below is the final landing page and hero variants used for conversion rate
                                    optimization.</li>
                            </ul>



                            <h4 class="mt-4">Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-lightbulb-on text-second"></i>
                                Creative Lead</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-handshake text-second"></i>
                                Collaboration</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-fill-drip text-second"></i>
                                Visual Design</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 py-5">
                            <h4>Hero Variants for Testing</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/wrong-hero-hip-lady.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                        <div class="col-24 py-5 d-block d-lg-none">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/wrong-hero-hip-senior.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 py-5">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/wrong-hero-kid.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                        <div class="col-24 py-5 d-block d-lg-none">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/wrong-hero-family.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 py-5">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/wrong-hero-senior-single.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                        <div class="col-24 py-5 d-block d-lg-none">
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/wrong-hero-senior-couple.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 py-5">
                            <h4>Full Landing Page</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 text-center">
                            <p><img class="img-fluid shadow" src="images/work/kitchen-sink/wrong-full-lp.jpg"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>