<!-- WB -->
<div class="modal fade" id="wb" tabindex="-1" aria-labelledby="wbLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen py-md-4">
        <div class="modal-content container rounded-3">
            <div class="modal-header justify-content-between">
                <h2 class="modal-title fs-5" id="wbLabel"><img loading="lazy"
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> Team Workshops</h2>
                <button type="button" class="btn btn-prime rounded-pill btn-close-modal" data-bs-dismiss="modal"
                    aria-label="Close"><i class="fa-sharp fa-regular fa-xmark-large"></i></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-20 col-lg-12 col-xl-8 align-self-center text-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg rounded-circle"
                                    src="images/work/workshop/ideas.jpg" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-16 align-self-center">
                            <h3>Solving the right problems.</h3>
                            <hr>
                            <p>I have successfully led and facilitated numerous design workshops, both on-site and
                                remotely. These interactive sessions addressed a wide range of challenges, engaging
                                diverse groups comprising various personalities and disciplines. Employing a
                                flexible approach, I utilized methodologies like the double-diamond design process
                                and modified design sprints. This approach was instrumental in uniting divergent
                                teams, fostering collaborative problem-solving, and aligning them around central
                                issues. The workshops spanned creative brainstorming, UX/UI strategy, CRO
                                (Conversion Rate Optimization), and User Testing Strategy, effectively driving
                                innovation and strategic thinking.</p>

                            <p class="fw-bolder">With the right team, anything is possible. Anything!</p>
                            <h4>Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-lightbulb-on text-secondary"></i>
                                Facilitator</span>

                            <h4 class="mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-chalkboard text-secondary"></i>
                                Whiteboard</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-marker text-secondary"></i>
                                Dry Erase Markers</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-notes text-secondary"></i>
                                Post-it Notes</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-brain text-secondary"></i>
                                Brains</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24 col-xl-16 col-xxl-14 py-5">
                            <hr class="solid-center">
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col-24 mb-4">
                            <h4>Various Types of Workshops I have Facilitated.</h4>
                        </div>
                        <div class="col-24 col-sm-8 col-lg-6">
                            <p><img loading="lazy" src="images/work/workshop/cover.jpg"
                                    class="img-fluid rounded-circle shadow-lg" alt="Content Strategy"></p>
                            <h5>Creative Brainstorming</h5>
                        </div>
                        <div class="col-24 col-sm-8 col-lg-6">
                            <p><img loading="lazy" src="images/work/workshop/cover-02.jpg"
                                    class="img-fluid rounded-circle shadow-lg" alt="Content Strategy"></p>
                            <h5>UX/UI Strategy</h5>
                        </div>
                        <div class="col-24 col-sm-8 col-lg-6">
                            <p><img loading="lazy" src="images/work/workshop/planning.jpg"
                                    class="img-fluid rounded-circle shadow-lg" alt="Content Strategy"></p>
                            <h5>CRO Testing Strategy</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-prime btn-lg rounded-pill btn-close-modal"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END WB -->