<!-- CCCX -->
<div class="modal fade" id="cce" tabindex="-1" aria-labelledby="cceLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="cceLabel"><img loading="lazy"
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> Call Center CX</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-20 col-lg-12 col-xl-8 align-self-center text-center">
                            <p><img loading="lazy"
                                    class="img-fluid shadow-lg border border-brand-second rounded-circle p-3"
                                    src="images/work/ccux-modal/flow.png" alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h4 class="font-sans font-sans-extra-bold">Project Brief:</h4>
                            <hr>
                            <p>This is a personal initiative of mine at DentalPlans.com. I identified two issues
                                with the customer experience calling in from our online initiatives. One, after
                                hours call center customers experienced a “dead end”. Two, we had a high abandonment
                                rate when the call center was open. I talked to the executive stakeholder for the
                                call center about the reasons behind the current process and researched the API
                                capabilities of our call center platform. I partnered with our engineers and
                                business intelligence to build a customer call center health API that we could
                                update the online experience in real-time based on call center availability.</p>
                            <h4>Contributions:</h4>
                            <hr class="solid-center">

                            <span class="badge-work">
                                <i class="fa-regular fa-clipboard-list-check text-secondary"></i>
                                Project Lead</span>
                            <i class="fa-regular fa-pencil-ruler text-secondary"></i>
                            UX/UI Design</span>

                            <h4 class="mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-project-diagram text-secondary"></i>
                                Application Programming Interface (API)</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-secondary"></i>
                                Adobe Target</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24 col-xl-16 col-xxl-14 py-5">
                            <hr class="solid-center">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24">
                            <h5>Messaging and State Change</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 ">
                            <p class="mb-4">Our API checked the status of the call center every 5 minutes and
                                updated the messaging with visual indicators on the website. We logged the status
                                changes and calls for tracking. We had a unique promotional code that would only
                                appear when the call center was not available.</p>

                        </div>
                        <div class="col-24 ">
                            <p class="text-start"><strong>Call Center Status: Green</strong></p>



                            <div class="row">
                                <div class="col-15">
                                    <p class="text-lg-start">
                                        <i class="fa-regular fa-desktop fa-2x"></i>
                                    </p>
                                    <p><img loading="lazy" class="img-fluid shadow-lg"
                                            src="images/work/ccux-modal/dt-header-green.png"
                                            alt="Call center customer experience by Jacob Medley"></p>
                                </div>
                                <div class="col-9">
                                    <p class="text-lg-start">
                                        <i class="fa-regular fa-mobile fa-2x"></i>
                                    </p>
                                    <p><img loading="lazy" class="img-fluid shadow-lg"
                                            src="images/work/ccux-modal/mb-header-green.png"
                                            alt="Call center customer experience by Jacob Medley"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-24 ">
                            <p class="text-start"><strong>Call Center Status: Closed</strong></p>
                            <div class="row">
                                <div class="col-15">
                                    <p class="text-lg-start">
                                        <i class="fa-regular fa-desktop fa-2x"></i>
                                    </p>
                                    <p><img loading="lazy" class="img-fluid shadow-lg"
                                            src="images/work/ccux-modal/dt-header-closed.png"
                                            alt="Call center customer experience by Jacob Medley"></p>
                                </div>
                                <div class="col-9">
                                    <p class="text-lg-start">
                                        <i class="fa-regular fa-mobile fa-2x"></i>
                                    </p>
                                    <p><img loading="lazy" class="img-fluid shadow-lg"
                                            src="images/work/ccux-modal/mb-header-busy.png"
                                            alt="Call center customer experience by Jacob Medley"></p>
                                </div>
                            </div>

                        </div>
                        <div class="col-24 ">
                            <p class="text-start"><strong>Call Center Status: Busy</strong></p>
                            <div class="row">
                                <div class="col-15">
                                    <p class="text-lg-start">
                                        <i class="fa-regular fa-desktop fa-2x"></i>
                                    </p>
                                    <p><img loading="lazy" class="img-fluid shadow-lg"
                                            src="images/work/ccux-modal/dt-header-busy.png"
                                            alt="Call center customer experience by Jacob Medley"></p>
                                </div>
                                <div class="col-9">
                                    <p class="text-lg-start">
                                        <i class="fa-regular fa-mobile fa-2x"></i>
                                    </p>
                                    <p><img loading="lazy" class="img-fluid shadow-lg"
                                            src="images/work/ccux-modal/mb-header-busy.png"
                                            alt="Call center customer experience by Jacob Medley"></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END CCCX -->