<!-- opf -->
<div class="modal fade" id="opfred" tabindex="-1" aria-labelledby="opfredLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen py-md-4">
        <div class="modal-content container rounded-3">
            <div class="modal-header justify-content-between">
                <h2 class="modal-title fs-5" id="opfredLabel"><img loading="lazy"
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> One Park Financial</h2>
                <button type="button" class="btn btn-prime rounded-pill btn-close-modal" data-bs-dismiss="modal"
                    aria-label="Close"><i class="fa-sharp fa-regular fa-xmark-large"></i></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center text-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle"
                                    src="images/work/opf-modal/brief-2.png" alt="">
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3 class="font-sans font-sans-extra-bold">Project Brief:</h3>
                            <hr class="solid-center">
                            <p>I partnered with the CEO and SVP of Marketing at One Park Financial to redesign its
                                corporate
                                website and
                                lead flow. This project was
                                part of a more extensive implementation of the Hydra Design system.
                            </p>
                            <p>I analyzed how users utilized the current site to make informed design choices for
                                this
                                effort—using Google Analytics to
                                see the primary devices used and how each device performed for lead conversion and
                                engagement. I leveraged heat maps and
                                scroll maps to understand what UI elements and content the users interacted with or
                                ignored.
                            </p>

                            <h4>Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-lightbulb-on text-second"></i>
                                Creative Lead</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-pencil-ruler text-second"></i>
                                UX/UI Design</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-ruler-triangle text-second"></i>
                                Wireframes</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-laptop-code text-second"></i>
                                Front-end Dev</span>


                            <span class="badge-work">
                                <i class="fa-regular fa-phone-laptop text-second"></i>
                                Device Testing</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-magnifying-glass-chart"></i>
                                User Research</span>


                            <h4 class="mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second"></i>
                                Adobe Suite</span>
                            <span class="badge-work">
                                <i class="fa-brands fa-laravel"></i>
                                Laravel & Statamic</span>
                            <span class="badge-work">
                                <i class="fab fa-bootstrap text-second"></i>
                                Bootstrap</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-code text-second"></i>
                                HTML</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-brackets-curly text-second"></i>
                                CSS/LESS</span>
                            <span class="badge-work">
                                <i class="fab fa-git-alt text-second"></i>
                                GIT</span>

                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-24">
                            <h5>Homepage</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-md-12">
                            <p class="text-lg-start">
                                Before
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/opf-modal/brief-befor.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-md-12">
                            <p class="text-lg-start">
                                After
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/opf-modal/brief.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>

                    </div>
                    <div class="row mb-5">
                        <div class="col-24">
                            <h5>How It Works</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12">
                            <p class="text-lg-start">
                                Before:
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/opf-modal/hiw-before.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <p class="text-lg-start">
                                After:
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/opf-modal/hiw.png" alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-24">
                            <h5>About Us</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12">
                            <p class="text-lg-start">
                                Before:
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/opf-modal/about-us-before.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <p class="text-lg-start">
                                After:
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/opf-modal/about.png" alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-24">
                            <h5>Module: Our Process</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12">
                            <p class="text-lg-start">
                                Before:
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/opf-modal/mod-proc-before.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <p class="text-lg-start">
                                After:
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/opf-modal/mod-proc-after.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h5>Full Homepage</h5>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-18">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-desktop fa-2x"></i>
                            </p>
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/opf-modal/home-dt.png"
                                    alt="WebMD Homepage Desktop by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-6">
                            <p class="text-lg-start">
                                <i class="fa-regular fa-mobile fa-2x"></i>
                            </p>
                            <p class="text-center text-lg-right"><img loading="lazy" class="img-fluid shadow-lg"
                                    src="images/work/opf-modal/home-mb.png"
                                    alt="WebMD Homepage Mobile  by Jacob Medley">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-prime btn-lg rounded-pill btn-close-modal"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END opf -->