<!-- HYDRA -->
<div class="modal fade" id="dpprod" tabindex="-1" aria-labelledby="dpprodLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="dpprodLabel">
                    <img loading="lazy" src="images/brand/SVG/jm-icon-full-brand-prime.svg"
                        alt="Jacob Medley | UX UI Designer" height="58px" width="58px" />Product Framework and Design
                    System
                </h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center text-center">
                            <p>
                                <img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle"
                                    src="images/work/dpprod-modal/brief.png" alt="" />
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3>Project Brief:</h3>
                            <hr class="solid-center" />
                            <p>
                                DentalPlans.com, a marketplace for dental savings and insurance
                                plans, identified an opportunity to create brand-focused product
                                sites for larger partners. These sites would highlight specific
                                brands, catering to customers' preferences, and optimizing sales
                                and conversions by crafting individualized brand experiences.
                            </p>

                            <p>This case study highlights how a small, lean team transformed an idea for a single
                                product-focused site into a robust framework supporting rapid product site deployment, a
                                multi-brand design system, and microservices that drive significant business results.
                            </p>
                            <h4 class="font-brand mb-0 mt-4">Contributions:</h4>
                            <hr class="solid-center" />

                            <span class="badge-work">
                                <i class="fa-regular fa-boxes-stacked text-second"></i>
                                Product Owner</span>
                            <span class="badge-work">
                                <i class="far fa-solar-system text-secondary"></i>
                                System Design</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-pencil-ruler text-second"></i>
                                UX/UI Design</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-laptop-code text-second"></i>
                                Front-end Dev</span>

                            <h4 class="font-brand mb-0 mt-4">Technology:</h4>
                            <hr class="solid-center" />
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second"></i>
                                Adobe Suite</span>
                            <span class="badge-work">
                                <i class="fa-brands fa-wordpress-simple"></i>
                                WordPress</span>
                            <span class="badge-work">
                                <i class="fa-brands fa-bootstrap text-second"></i>
                                Bootstrap</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-code text-second"></i>
                                HTML</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-brackets-curly text-second"></i>
                                CSS/LESS</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-elephant text-second" aria-hidden="true"></i>
                                PHP</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-gear-code text-second" aria-hidden="true"></i>
                                DevOps Pipelines</span>
                            <span class="badge-work">
                                <i class="fab fa-git-alt text-second"></i>
                                GIT</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-webhook text-second" aria-hidden="true"></i>
                                APIs</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 mt-5">
                            <h4>Business Results</h4>
                            <hr class="solid-center my-5" />
                        </div>
                        <div class="col-24 col-lg-16 align-self-center">
                            <div class="row row-cols-2 text-center justify-content-center g-3">
                                <div class="col">
                                    <h4 class="result mb-0 display-5 fw-bolder">
                                        47%<small>
                                            <i class="display-3 text-third fa-regular fa-long-arrow-up"></i>
                                        </small>
                                    </h4>
                                    <p class="light result-label mt-0">New Sales</p>
                                </div>
                                <div class="col">
                                    <h4 class="result mb-0 display-5 fw-bolder">
                                        20%<small>
                                            <i class="display-3 text-third fa-regular fa-long-arrow-up"></i>
                                        </small>
                                    </h4>
                                    <p class="light result-label mt-0">
                                        <span class="d-none d-lg-inline">Company</span>
                                        Revenue
                                    </p>
                                </div>
                                <div class="col">
                                    <h4 class="result mb-0 display-5 fw-bolder">
                                        27%<small>
                                            <i class="display-3 text-third fa-regular fa-long-arrow-up"></i>
                                        </small>
                                    </h4>
                                    <p class="light result-label mt-0">
                                        Lead Gen<span class="d-none d-lg-inline">eration</span>
                                    </p>
                                </div>
                                <div class="col">
                                    <h4 class="result mb-0 display-5 fw-bolder">
                                        66%<small>
                                            <i class="display-3 text-third fa-regular fa-long-arrow-down"></i>
                                        </small>
                                    </h4>
                                    <p class="light result-label mt-0">
                                        Reduction Project Timeline
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-24 col-lg-8 align-self-center">
                            <h5 class="mb-3">Value Created</h5>
                            <ul class="fa-ul">
                                <li class="mb-4">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span>Large scale efforts by a small
                                    lean team
                                </li>
                                <li class="mb-4">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span>Scalable Product Features
                                </li>

                                <li class="mb-4">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span>Rapid launch and learn efforts
                                    and conversion rate
                                    optimization
                                </li>
                                <li class="mb-4">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span>Proprietary platform and
                                    systems owned by the company
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <hr class="solid-center my-5">
                        <div class="col-24 mt-5 text-start">
                            <h4>The System Framework</h4>
                            <hr class="solid-center">
                        </div>

                        <div class="row text-center mb-4">
                            <div class="col">
                                <div class="progress h-100">
                                    <div class="progress-bar progress-bar-striped bg-dark-subtle w-100 p-4">
                                        <h3 class="text-black mb-3"><i class="fa-sharp fa-regular fa-box"></i><br>
                                            Individual Product Sites
                                        </h3>
                                        <div
                                            class="row text-center mb-4 row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-lg-5 g-3">
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar bg-second w-100 p-3">
                                                        <p><strong>
                                                                <i class="fa-light fa-box fa-xl"></i> <br>Cigna</strong>
                                                        </p>

                                                        <div class="progress h-100">
                                                            <div
                                                                class="progress-bar shadow-lg bg-second-light w-100 text-second-dark py-2">
                                                                <strong class="fw-bold"><i
                                                                        class="fa-regular fa-palette fa-xl"></i>
                                                                    Brand Theme
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar bg-prime w-100 p-3">
                                                        <p><strong>
                                                                <i class="fa-light fa-box fa-xl"></i> <br>Aetna</strong>
                                                        </p>

                                                        <div class="progress h-100">
                                                            <div
                                                                class="progress-bar shadow-lg bg-prime-light w-100 text-prime-dark py-2">
                                                                <strong class="fw-bold"><i
                                                                        class="fa-regular fa-palette fa-xl"></i>
                                                                    Brand Theme
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar bg-third w-100 p-3">
                                                        <p><strong>
                                                                <i class="fa-light fa-box fa-xl"></i> <br>WebMD</strong>
                                                        </p>

                                                        <div class="progress h-100">
                                                            <div
                                                                class="progress-bar shadow-lg bg-third-light w-100 text-third-dark py-2">
                                                                <strong class="fw-bold"><i
                                                                        class="fa-regular fa-palette fa-xl"></i>
                                                                    Brand Theme
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar bg-fourth w-100 p-3">
                                                        <p><strong>
                                                                <i class="fa-light fa-box fa-xl"></i> <br>LMDB</strong>
                                                        </p>

                                                        <div class="progress h-100">
                                                            <div
                                                                class="progress-bar shadow-lg bg-fourth-light w-100 text-fourth-dark py-2">
                                                                <strong class="fw-bold"><i
                                                                        class="fa-regular fa-palette fa-xl"></i>
                                                                    Brand Theme
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar bg-fifth w-100 p-3">
                                                        <p><strong>
                                                                <i class="fa-light fa-box fa-xl"></i>
                                                                <br>Documentation</strong></p>

                                                        <div class="progress h-100">
                                                            <div
                                                                class="progress-bar shadow-lg bg-fifth-light w-100 text-fifth-dark py-2">
                                                                <strong class="fw-bold"><i
                                                                        class="fa-regular fa-palette fa-xl"></i>
                                                                    Brand Theme
                                                                </strong>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row text-center mb-4">
                            <div class="col">
                                <div class="progress h-100">
                                    <div class="progress-bar progress-bar-striped bg-fifth-dark w-100 p-4">
                                        <h3 class="text-white mb-3"><i
                                                class="fa-sharp fa-regular fa-boxes-stacked"></i><br>
                                            Core Framework
                                        </h3>
                                        <div class="row text-center mb-4 row-cols-1 row-cols-md-2 row-cols-lg-5 g-3">
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div
                                                        class="progress-bar shadow-lg bg-fifth-light w-100 text-fifth-dark">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-regular fa-webhook fa-xl"></i><br>
                                                            API Integration
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div
                                                        class="progress-bar shadow-lg bg-fifth-light w-100 text-fifth-dark">
                                                        <strong class="py-4 fw-bold "><i
                                                                class="fa-regular fa-square-code fa-xl"></i><br>
                                                            Component Libraries
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div
                                                        class="progress-bar shadow-lg bg-fifth-light w-100 text-fifth-dark">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-regular fa-layer-group fa-xl"></i><br>
                                                            Pattern Library
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div
                                                        class="progress-bar shadow-lg bg-fifth-light w-100 text-fifth-dark">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-brands fa-wordpress-simple fa-xl"></i><br>
                                                            CMS
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div
                                                        class="progress-bar shadow-lg bg-fifth-light w-100 text-fifth-dark">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-regular fa-gear-code fa-xl"></i><br>
                                                            Pipelines
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center mb-4">

                            <div class="col">
                                <div class="progress h-100">
                                    <div class="progress-bar progress-bar-striped bg-fifth-light w-100 p-4">
                                        <h3 class="text-fifth-dark mb-3"><i class="fa-regular fa-webhook"></i> <br>
                                            Microservices
                                        </h3>
                                        <div
                                            class="row text-center mb-4 row-cols-1 row-cols-md-2 row-cols-lg-4 row-cols-lg-5 g-3">
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar shadow-lg bg-fifth w-100">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-regular fa-webhook fa-xl"></i><br>
                                                            Plan Details
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar shadow-lg bg-fifth w-100">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-regular fa-webhook fa-xl"></i><br>
                                                            Dentist Search
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar shadow-lg bg-fifth w-100">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-regular fa-webhook fa-xl"></i><br>
                                                            Lead
                                                            Create
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar shadow-lg bg-fifth w-100">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-sharp fa-regular fa-headset fa-xl"></i><br>
                                                            Call Center Status
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="progress h-100">
                                                    <div class="progress-bar shadow-lg bg-fifth w-100">
                                                        <strong class="py-4 fw-bold"><i
                                                                class="fa-regular fa-webhook fa-xl"></i><br>
                                                            Google Maps (API)
                                                        </strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="row">
                        <hr class="solid-center my-5" />

                        <div class="col-24 col-lg-12 col-xl-10 align-self-start text-center">
                            <p>
                                <img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle"
                                    src="images/work/dpprod-modal/rocket.png" alt="" />
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h4>Key Features</h4>
                            <hr class="solid-center" />
                            <ul class="fa-ul">
                                <li class="mb-2">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span><strong>Product Design
                                        Framework:</strong> <br />Enabled
                                    updates, testing, and conversion rate optimization at scale.
                                </li>
                                <li class="mb-2">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span><strong>Multi-Brand Design
                                        System:</strong> <br />One to one
                                    design and development architecture, ensuring rapid
                                    prototyping with minimal variance between design and code.
                                </li>

                                <li class="mb-2">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span><strong>Microservices and
                                        APIs:</strong> <br />Provided
                                    product information, dentist search, and shopping cart
                                    functionalities.
                                </li>

                                <li class="mb-2">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span><strong>Sales and Promotional
                                        Management:</strong>
                                    <br />Scheduled and managed sales and promotional campaigns.
                                </li>
                                <li class="mb-2">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span><strong>Robust Marketing and
                                        Campaign Tracking:</strong>
                                    <br />Included PPC, affiliate, and organic tracking.
                                </li>

                                <li class="mb-2">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span><strong>Knowledge Base and
                                        Documentation:</strong>
                                    <br />Supported designers and developers with comprehensive
                                    resources.
                                </li>

                                <li class="mb-2">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i> </span><strong>DevOps
                                        Pipelines:</strong> <br />Facilitated global
                                    system updates and individual feature deployments across all
                                    sites or single sites.
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-24 text-center">
                            <hr class="solid-center my-5" />

                            <p class="display-4">
                                <i class="fa-light fa-map-location-dot"></i>
                            </p>
                            <h2>The Journey</h2>

                            <hr class="solid-center my-5" />
                        </div>
                    </div>

                    <div class="row flex-lg-row-reverse">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-start text-center">
                            <p>
                                <img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle w-75"
                                    src="images/work/dpprod-modal/mvp-one.png" alt="" />
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h4>MVP1: Initial Launch and Learnings</h4>
                            <hr class="solid-center" />
                            <p>
                                With limited resources and a busy engineering team, the
                                marketing and design team had to take the lead. Our CMO, Bill
                                Chase, asked, "You know WordPress, right? How fast can you stand
                                up a website?"
                            </p>

                            <h4>Plan:</h4>
                            <hr class="solid-center" />
                            <p>
                                We adopted an iterative approach, focusing on speed to market
                                while minimizing engineering involvement. We designed a simple
                                product flow for a single plan product launch to gauge customer
                                response. Engineering created a service to pass products into
                                our shopping cart system, with plans to expand capabilities for
                                a white-label ecommerce platform.
                            </p>

                            <p>
                                I developed a bootstrapped WordPress theme for a home page,
                                contact us, about, product details, and an add-to-cart
                                functionality. Future updates were anticipated, allowing the
                                theme to adapt to different products and pass information to the
                                shopping cart.
                            </p>

                            <h4>Results:</h4>
                            <hr class="solid-center" />
                            <p>
                                The launch showed moderately higher conversion rates and a lower
                                CPA compared to our core site. This proved the viability of
                                partnering with plan providers and focusing on customer loyalty
                                and intent, prompting leadership to launch a second site.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-24 my-5">
                            <hr class="solid-center" />
                        </div>
                        <div class="col-24 col-lg-12 col-xl-10 align-self-start text-center">
                            <p>
                                <img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle w-75"
                                    src="images/work/dpprod-modal/mvp-two.png" alt="" />
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h4>Iteration Two: Scaling and Optimization</h4>
                            <hr class="solid-center" />
                            <p>
                                With the success of the first site, we faced new challenges. The second site needed
                                dynamic content and a seamless brand experience from the initial interaction to the
                                shopping cart. We started two new projects: a full white-label shopping cart with
                                microservices for product information and a comprehensive A/B split testing and
                                conversion rate optimization initiative.
                            </p>

                            <h4>Results:</h4>
                            <hr class="solid-center" />
                            <p>
                                The second site launched with similar results, providing a solid foundation for future
                                features. We quickly iterated and tested live, planning for future enhancements. The
                                componentized code and design system allowed easy updates and testing, from landing
                                pages to entire user flows.
                            </p>
                        </div>
                    </div>

                    <div class="row flex-lg-row-reverse">
                        <div class="col-24 my-5">
                            <hr class="solid-center" />
                        </div>
                        <div class="col-24 col-lg-12 col-xl-10 align-self-start text-center">
                            <p>
                                <img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle w-75"
                                    src="images/work/dpprod-modal/mvp-three.png" alt="" />
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h4>Iteration Three: Integrating Learnings and Microservices</h4>
                            <hr class="solid-center" />
                            <p>
                                MVP3 focused on integrating all learnings and finalizing microservices into the
                                framework. This allowed scalable product data and information updates across all sites.
                                The design system's pattern and component libraries ensured seamless updates and
                                integration with microservices.
                            </p>

                            <h4>Results:</h4>
                            <hr class="solid-center" />
                            <p>
                                We aggressively created landing pages, developed a content strategy for organic growth,
                                and focused on lead generation and conversion rate optimization.
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-24 my-5">
                            <hr class="solid-center" />
                        </div>
                        <div class="col-24 col-lg-12 col-xl-10 align-self-start text-center">
                            <p>
                                <img loading="lazy" class="img-fluid shadow-lg border border-light rounded-circle w-75"
                                    src="images/work/dpprod-modal/mvp-four.png" alt="" />
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h4>Iteration Four: Dentist Search Feature
                            </h4>
                            <hr class="solid-center" />
                            <p>
                                The final phase involved designing and coding the UX and UI for a dentist search
                                feature. Leveraging our pattern and component libraries, we expedited the development
                                process.
                            </p>

                            <h4>Results:</h4>
                            <hr class="solid-center" />
                            <p>
                                The dentist search feature was integrated smoothly, further enhancing the user
                                experience and solidifying our scalable, efficient development framework.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END HYDRA -->