<section class="show-me-the-money bg-pop-light bg-gradient">
    <!--Waves Container-->
    <div class="waves-wrapper top">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" class="wave-four" x="48" y="0" />
                <use xlink:href="#gentle-wave" class="wave-three" x="48" y="3" />
                <use xlink:href="#gentle-wave" class="wave-two" x="48" y="5" />
                <use xlink:href="#gentle-wave" class="wave-one" x="48" y="7" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
    <div class="content">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-24 align-self-center">
                    <p class="display-4"><i class="fa-light fa-fw fa-paintbrush-pencil"></i></p>
                    <h3 class="display-4 fw-bold mt-n4">Visual Design</h3>
                </div>
                <div class="col-24 col-xl-16 col-xxl-14 py-5">
                    <hr class="solid-center">
                </div>
            </div>

        </div>
    </div>

</section>