<div class="content">
    <div class="container">
        <div class="row text-center justify-content-center row-content">
            <div class="col-24 col-lg-14 align-self-center">
                <p class="display-12 fw-bold text-prime mb-0 h-jakeicon">
                    <i class="fak fa-jm-icon-full fw-normal"></i>
                </p>

                <h1 class="display-4 fw-bold text-prime mt-0">Hello, I'm Jacob Medley.
                </h1>
                <h2 class="display-2 text-prime">UX/UI Designer &
                    Digital Strategist</h2>
                <div class="py-3 w-25 mx-auto">
                    <hr class="solid-center">
                </div>
                <p class="display-1">
                    Welcome to my portfolio, showcasing my design journey as I apply a creative and scrappy approach to
                    scaling products, creating value, and driving results.</p>
                <a class="btn btn-outline-prime-dark mt-4 mb-4 btn-lg rounded-pill" href="#work">
                    <i class="far fa-angle-down"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--Waves Container-->
<div class="waves-wrapper">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" class="wave-four" x="48" y="0" />
            <use xlink:href="#gentle-wave" class="wave-three" x="48" y="3" />
            <use xlink:href="#gentle-wave" class="wave-two" x="48" y="5" />
            <use xlink:href="#gentle-wave" class="wave-one" x="48" y="7" />
        </g>
    </svg>
</div>
<!--Waves end-->