<section class="bg-fourth-dark bg-gradient text-white">
    <div class="content py-5">
        <div class="container edu">
            <div class="row ">
                <div class="col-24 text-md-center mb-5">

                    <div class="row text-center justify-content-center">
                        <div class="col-24 align-self-center">
                            <p class="display-4"><i class="fa-light fa-brain-circuit text-fourth-light"></i></p>
                            <h3 class="display-4 fw-bold mt-n4 text-fourth-light">Education</h3>
                        </div>

                    </div>
                    <div class="row text-center justify-content-center">
                        <div class="col-24 col-xl-16 col-xxl-14 py-5">
                            <hr class="solid-center light">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4 text-center">
                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg" style="min-height: 220px;">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-graduation-cap  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">Degree in Digital Design</h5>
                            <p class="card-text">Full Sail University, Winter Park, Florida</p>
                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link" href="https://www.fullsail.edu/" target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg" style="min-height: 220px;">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">AI for Designers</h5>
                            <p class="card-text">Interaction Design Foundation (IDxF)</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.interaction-design.org/members/jacob-medley/certificate/course/1ad7ed0b-29c1-469c-b7f5-33a667742a51?certificateType=course"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg" style="min-height: 220px;">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">Design Patterns for AI UX</h5>
                            <p class="card-text">Interaction Design Foundation (IDxF)</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.interaction-design.org/members/jacob-medley/certificate/masterclass/mcc_e4727ae8f711444c86808940cbcd5d85"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg" style="min-height: 220px;">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">Micro-Usability: How to Design for Frictionless UX</h5>
                            <p class="card-text">Interaction Design Foundation (IDxF)</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.interaction-design.org/members/jacob-medley/certificate/masterclass/mcc_6df3907c7b334a35a200fa4ccf54b396"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg" style="min-height: 220px;">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">Customer Experience: Service Blueprinting</h5>
                            <p class="card-text">LinkedIn Learning</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.linkedin.com/learning/certificates/af9d4b98fedbda3d694ff953e161744abbab9d172b797cafbd833147de88d312?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BggZ3F1TFQK2WbyZa3u1gTw%3D%3D"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg" style="min-height: 220px;">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">Hands-On with Design Systems</h5>
                            <p class="card-text">LinkedIn Learning</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.linkedin.com/learning/certificates/62a25dd45a4a798d8c27d6d36df0c2628f789b47103fab2d15a6b28d7965f5c6?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BggZ3F1TFQK2WbyZa3u1gTw%3D%3D"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg" style="min-height: 220px;">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">Figma for UX Design</h5>
                            <p class="card-text">LinkedIn Learning</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.linkedin.com/learning/certificates/887ea326db7a6daf00b8cdc518fc26ce94fe9f862001804ae8de7c98c9485cb5?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BggZ3F1TFQK2WbyZa3u1gTw%3D%3D"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg ">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3"></i></p>
                            <h5 class="card-title">Figma Essential Training</h5>
                            <p class="card-text">LinkedIn Learning</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.linkedin.com/learning/certificates/80471654eb3eafc9528e253bd08e8557e220718f49c46bde684890efd5d8196d?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_certifications_details%3BggZ3F1TFQK2WbyZa3u1gTw%3D%3D"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg ">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">The Data Scientist’s Toolbox
                            </h5>
                            <p class="card-text">Johns Hopkins University</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.coursera.org/account/accomplishments/verify/3JE7KWFED4"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 rounded-5 shadow-lg ">

                        <div class="card-body text-fourth-dark">
                            <p><i class="fa-light fa-file-certificate  fa-2x mt-3 "></i></p>
                            <h5 class="card-title">Certificate of Membership</h5>
                            <p class="card-text">Interaction Design Foundation (IDxF)</p>

                        </div>
                        <div class="card-footer bg-transparent border-0">
                            <a class="stretched-link"
                                href="https://www.interaction-design.org/members/jacob-medley/certificate/membership/mc_V0FMlS9wR"
                                target="_blank">
                                <span class="text-fourth-dark"> <i class="fa-regular fa-eye"></i> View</span>
                            </a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row text-center justify-content-center mt-5 ">
                <div class="col-24">
                    <hr class="solid-center mt-5">
                </div>
                <div class="col-24 mt-4 py-5">
                    <a href="mailto:hi@jacobmedley.com" target="_blank"
                        class="btn btn-lg btn-fourth-light rounded-pill shadow-lg">
                        <i class="fa-light fa-envelope"></i> hi@jacobmedley.com <i class="fa-thin fa-arrow-right"
                            aria-hidden="true"></i></a>
                </div>
                <div class="col-24 mt-5 py-5">
                    <p class="display-4 mb-0"><i class="fak fa-jm-icon-full"></i></p>
                    <p>© <span id="current-year"></span> by Jacob Medley</p>
                </div>

            </div>

        </div>
    </div>
    </div>
</section>