<section id="quote" class="text-center py-5">
    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-24">
                    <p class="display-5"><i class="fa-solid fa-quote-left" role="presentation"></i></p>
                </div>
                <div class="col-24 ">
                    <div id="carouselQuote" class="carousel slide " data-bs-ride="carousel">

                        <div class="carousel-inner">
                            <div class="carousel-item active ">
                                <h3 class="display-2 fw-bolder">Jacob is the best hire<br class="d-none d-md-block">
                                    I ever made.</h3>
                                <hr class="w-25 mx-auto solid-center">
                                <p class="h4 fw-light">Bill Chase, CMO DentalPlans.com</p>
                            </div>
                            <div class="carousel-item ">
                                <h3 class="display-2 fw-bolder">It is extremely rare to find people like Jacob,<br
                                        class="d-none d-md-block">
                                    he makes us a stronger team.</h3>
                                <hr class="w-25 mx-auto solid-center">
                                <p class="h4 fw-light">J.R. Hernandez, Product Director</p>
                            </div>
                            <div class="carousel-item ">
                                <h3 class="display-2 fw-bolder">Jacob has left a legacy with our <br
                                        class="d-none d-md-block">company
                                    that will last forever.</h3>
                                <hr class="w-25 mx-auto solid-center">
                                <p class="h4 fw-light">Joel Eckman, Founder, Globalsites.net</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
