<section class="bg-third-light bg-gradient">
    <!--Waves Container-->
    <div class="waves-wrapper top">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use href="#gentle-wave" class="wave-four" x="48" y="0" />
                <use href="#gentle-wave" class="wave-three" x="48" y="3" />
                <use href="#gentle-wave" class="wave-two" x="48" y="5" />
                <use href="#gentle-wave" class="wave-one" x="48" y="7" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
    <div class="content">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-24 align-self-center">
                    <p class="display-4"><i class="fa-light fa-fw fa-list-timeline"></i></p>
                    <h3 class="display-4 fw-bold mt-n4">Resume</h3>
                </div>

            </div>
            <div class="row text-center justify-content-center">
                <div class="col-24 col-xl-16 col-xxl-14 py-5">
                    <hr class="solid-center">
                </div>
            </div>
            <div class="row">
                <div class="col-24">
                    <div class="pro-wrap">
                        <h3 class="mb-4">Design Leadership</h3>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="fa-ul">
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>Design Leadership:</strong> Directed cross-functional teams to create scalable design systems, ensuring consistency across digital ecosystems and delivering measurable business impact.
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>Strategic Vision:</strong> Aligned product and brand design with user needs and business objectives through comprehensive UX roadmaps and prioritized initiatives.
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>Inclusive Design Culture:</strong> Fostered a culture of collaboration and innovation by mentoring designers, promoting accessibility standards (WCAG), and encouraging experimentation.
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>Conversion Optimization:</strong> Spearheaded conversion rate optimization (CRO) strategies, enhancing user funnels and driving substantial increases in engagement and revenue.
                                    </li>
                                 
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>SEO and Content Strategy:</strong> Developed SEO-optimized website structures, blending technical performance with engaging user experiences to boost search rankings and user retention.
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <ul class="fa-ul">
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>AI-Powered Tools:</strong> Designed and implemented GPT/LLM-based products, including conversational chatbots and intelligent search tools, to improve customer engagement and operational efficiency.
                                    </li><li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>Data-Driven Insights:</strong> Applied qualitative and quantitative research to inform design decisions, continuously iterating to exceed user expectations.
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>End-to-End Design Process:</strong> Managed all phases of design, from ideation and prototyping to testing and implementation, delivering seamless user experiences across web and mobile platforms.
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>Business-Centric Design:</strong> Created user-centered solutions that achieved business goals, such as increasing sales by 47% and reducing project timelines by 66%.
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <strong>Collaboration & Alignment:</strong> Partnered with marketing, engineering, and product teams to deliver cohesive brand and product experiences across all touchpoints.
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>

                    <div class="mt-5 mb-5">
                        <div class="row text-center">
                            <div class="col-24">
                                <hr class="solid-center w-25 mx-auto">
                                <h2 class="py-3">"With the right team anything,
                                    <br class="d-none d-md-block">is possible. Anything!"
                                </h2>
                                <hr class="solid-center w-25 mx-auto">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-16  exp">
                    <h3 class="mb-4">Experience</h3>
                    <div class="row">
                        <div class="col-md-24 col-lg-24">
                            <p>
                                <strong>Director UX/UI & Product Design</strong><br>
                                One Park Financial, Coconut Grove, FL
                                <br>
                                <em>2021 to 2022</em>
                            </p>
<p>At One Park Financial, I oversaw and developed all design processes and workflows, establishing best practices for UX and UI design and usability testing. I collaborated with teams across marketing, product, and engineering, conducting workshops to drive problem-solving and innovation. Partnering with Channel Managers specializing in PPC, SEO, and Affiliate marketing, I helped establish their conversion rate optimization strategies to maximize user engagement and conversion rates.</p>

<p>I evangelized the need for a design system, partnering with the SVP of Marketing to secure executive buy-in for the project. This led to the creation of the Hydra Design System, a unified pattern and component library. This empowered the company to design and engineer rapidly and "fail fast," improving business goals and user experience.</p>

                            <hr class="solid-center my-5">

                            <p>
                                <strong>Sr. Manager UX/UI Designer</strong><br>
                                DentalPlans.com, Plantation, FL
                                <br>
                                <em>2015 to 2021</em>
                            </p>
<p>Leading UX/UI design and development, especially for projects involving product partners, I managed design and development for LAMP stack projects, driving remarkable financial growth. These strategic initiatives resulted in over 47% of new revenue, 27% of total lead generation, and contributed to 20% of the company's overall revenue, highlighting the essential role of strategic product design and development in business expansion and profitability.</p>

                            <hr class="solid-center my-5">

                            <p>
                                <strong>Sr. Digital Designer</strong><br>
                                Bluegreen Corp., Boca Raton, FL<br>
                                <em>2011 to 2015</em>
                            </p>
<p>As the design lead, I contributed to the company-wide transition to a data-driven omnichannel marketing platform, incorporating digital signage across 48 resort locations and interactive kiosk interfaces. This role involved crafting engaging user experiences across various marketing platforms and channels, ensuring a seamless integration of digital and physical touchpoints.</p>

<p>In collaboration with stakeholders, cross-functional teams, and external consultants, I played a key role in implementing and integrating a comprehensive marketing experience strategy. This strategy was focused on unifying our messaging and branding across all channels, including the innovative use of digital signage and interactive kiosks, to create a cohesive and dynamic customer journey. My leadership in this area was pivotal in enhancing customer engagement and reinforcing the company's presence in the competitive resort industry.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-8 design-tech">
                    <div class="row">
                        <div class="col-24">
                            <h3 class="mb-4">Expertise</h3>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-24 expertice">
                            <ul class="fa-ul">
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Design Thinking</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">System Thinking</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">User Experience Design</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">User Interface Design</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Interaction Design</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Brand & Visual Design</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Mobile-First & Responsive Design</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">UX Roadmapping & Prioritization</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">User Testing</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Facilitating Workshops</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">A/B Testing & Planning</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Conversion Rate Optimization</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Wireframing</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Prototyping</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Accessibility Standards (WCAG)</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Designing for B2C & B2B</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Design Systems</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Mobile & Responsive Design</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Accessibility Design</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Project Management</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Agile Workflows</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Writing User Stories & Acceptance Criteria</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Front-end Development</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">HTML and CSS</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Less and Sass</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Bootstrap Framework</span>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="row app-tools">

                        <div class="col-24">
                            <hr class="solid-center my-5">
                            <h3 class="mb-4">Apps & Tools</h3>
                        </div>
                        <div class="col-24">
                            <ul class="fa-ul">
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Figma</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Adobe XD</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Adobe Creative Suite</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">FigJam</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Miro</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Balsamiq</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Lucid Chart</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Adobe Target</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Optimizely</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">VWO</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Fullstory</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">SessionCam</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">HotJar</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">UserTesting.com</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Userlytics</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Google Analytics</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Newrelic</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Splunk</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Lighthouse</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">ChatGPT</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">VS Code</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Sublime Text</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Jira</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Asana</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">Bitbucket</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">GitHub</span>
                                </li>
                                <li class="list-item">
                                    <span class="fa-li">
                                        <i class="fa-regular fa-angle-right"></i>
                                    </span>
                                    <span class="skill-title">GitKraken</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    <!--Waves Container-->
    <div class="waves-wrapper bottom mb-0 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use href="#gentle-wave" class="wave-four" x="48" y="0" />
                <use href="#gentle-wave" class="wave-three" x="48" y="3" />
                <use href="#gentle-wave" class="wave-two" x="48" y="5" />
                <use href="#gentle-wave" class="wave-one" x="48" y="7" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
</section>
