
    <section class="bg-third-light bg-gradient">
        <!--Waves Container-->
        <div class="waves-wrapper top">
            <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                <defs>
                    <path id="gentle-wave"
                        d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                </defs>
                <g class="parallax">
                    <use xlink:href="#gentle-wave" class="wave-four" x="48" y="0" />
                    <use xlink:href="#gentle-wave" class="wave-three" x="48" y="3" />
                    <use xlink:href="#gentle-wave" class="wave-two" x="48" y="5" />
                    <use xlink:href="#gentle-wave" class="wave-one" x="48" y="7" />
                </g>
            </svg>
        </div>
        <!--Waves end-->
        <div class="content">
            <div class="container">
                <div class="row text-center justify-content-center">
                    <div class="col-24 align-self-center">
                        <p class="display-4"><i class="fa-thin fa-fw fa-list-timeline"></i></p>
                        <h3 class="display-4 fw-bold mt-n4">Resume</h3>
                    </div>

                </div>
                <div class="row text-center justify-content-center">
                    <div class="col-24 col-xl-16 col-xxl-14 py-5">
                        <hr class="solid-center">
                    </div>
                </div>
                <div class="row">
                    <div class="col-24">
                        <div class="pro-wrap">
                            <h3 class="mb-4">Design Leadership</h3>
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="fa-ul">
                                        <li class="mb-3">
                                            <span class="fa-li">
                                                <i class="fa-regular fa-angle-right"></i>
                                            </span>
                                            Championing the implementation and widespread adoption of UX best practices
                                            and a unified design system across the organization.
                                        </li>
                                        <li class="mb-3">
                                            <span class="fa-li">
                                                <i class="fa-regular fa-angle-right"></i>
                                            </span>
                                            Proficient in developing, managing, and streamlining design processes and
                                            workflows for efficient operations across the company.
                                        </li>
                                        <li class="mb-3">
                                            <span class="fa-li">
                                                <i class="fa-regular fa-angle-right"></i>
                                            </span>
                                            Expertise in strategic planning and the construction of UX roadmaps aligning
                                            with business goals.
                                        </li>
                                        <li class="mb-3">
                                            <span class="fa-li">
                                                <i class="fa-regular fa-angle-right"></i>
                                            </span>
                                            Experienced in leading and inspiring design and development teams, both
                                            on-site and remotely, to achieve outstanding results.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    <ul class="fa-ul">
                                        <li class="mb-3">
                                            <span class="fa-li">
                                                <i class="fa-regular fa-angle-right"></i>
                                            </span>
                                            Skilled in managing cross-departmental projects, synchronizing efforts
                                            across various time zones.
                                        </li>
                                        <li class="mb-3">
                                            <span class="fa-li">
                                                <i class="fa-regular fa-angle-right"></i>
                                            </span>
                                            A passionate advocate for developing, upholding, and evolving brand
                                            standards and coding practices.
                                        </li>
                                        <li class="mb-3">
                                            <span class="fa-li">
                                                <i class="fa-regular fa-angle-right"></i>
                                            </span>
                                            Facilitator of collaborative workshops, fostering team creativity and
                                            problem-solving skills.
                                        </li>
                                        <li class="mb-3">
                                            <span class="fa-li">
                                                <i class="fa-regular fa-angle-right"></i>
                                            </span>
                                            Leveraging data insights and empathy to create user-centric, effective
                                            experiences.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5 mb-5">
                            <div class="row text-center">
                                <div class="col-24">
                                    <hr class="solid-center w-25 mx-auto">
                                    <h2 class="py-3">"With the right team anything,
                                        <br class="d-none d-md-block">is possible. Anything!"
                                    </h2>
                                    <hr class="solid-center w-25 mx-auto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-16 pl-md-3 exp">
                        <h3 class="mb-4">Experience</h3>
                        <div class="row">
                            <div class="col-md-24 col-lg-24">
                                <p>
                                    <strong>Sr. UX Designer</strong><br>
                                    Mutual of America Financial Group, Boca Raton, FL
                                    <br>
                                    <em>2023 to current</em>
                                </p>
                                <p>I spearhead the development and execution of Mutual of America's inaugural design
                                    system. This endeavor involves orchestrating a comprehensive, omnichannel design
                                    framework, aimed at crafting interactive, user-centric products. I integrate
                                    strategic collaboration with senior stakeholders and diverse cross-functional teams,
                                    ensuring alignment with the company's broader business objectives.</p>

                                <p> I actively engage in applying design thinking principles, transforming intricate
                                    challenges into seamless, intuitive solutions. This process is integral to
                                    facilitating strategic initiatives focused on enhancing customer experiences. By
                                    leveraging this methodology, I contribute valuable insights that empower business
                                    units to optimize their service offerings and drive innovative product development.
                                </p>

                                <p> My commitment extends to scaling design thinking across the organization, fostering
                                    a culture of creative problem-solving and continuous improvement. This systematic
                                    approach not only elevates the quality of our products and services but also serves
                                    as a catalyst for sustained business growth and competitive advantage.</p>


                                <hr class="solid-center my-5">

                                <p>
                                    <strong>Director UX/UI & Design</strong><br>
                                    One Park Financial, Coconut Grove, FL
                                    <br>
                                    <em>2021 to 2022</em>
                                </p>
                                <p>In my capacity as a design leader, I actively collaborate with teams across
                                    marketing, product, and technology domains to establish and uphold the highest
                                    standards in UX design. My expertise is exemplified in leading the development and
                                    roll-out of the "Hydra" Design System within OPF's application ecosystem, ensuring
                                    uniformity and excellence in design practices. This initiative underscores the
                                    integration of robust design principles, significantly enhancing the user experience
                                    and the functionality of our products.</p>

                                <p> My responsibilities also encompass conducting usability testing and ensuring ADA
                                    compliance, reinforcing our commitment to accessibility and user-centric design. I
                                    work in tandem with Channel Managers specializing in PPC, SEO, and Affiliate
                                    marketing to initiate and refine Conversion Rate Optimization (CRO) strategies. This
                                    cross-channel effort is crucial in maximizing user engagement and conversion rates.
                                </p>

                                <p>I am responsible for developing and overseeing all design processes and workflows
                                    within the company. This stewardship of design operations ensures a streamlined,
                                    efficient approach to project execution, reflecting my dedication to operational
                                    excellence and strategic design management. My role is pivotal in driving design
                                    innovation, fostering a culture of continuous improvement, and contributing to the
                                    company's overall growth and success in the digital landscape.</p>

                                <hr class="solid-center my-5">
                                <p>
                                    <strong>Sr. Manager UX/UI Designer</strong><br>
                                    DentalPlans.com, Plantation, FL
                                    <br>
                                    <em>2015 to 2021</em>
                                </p>
                                <p> I pioneered a design system and code componentization at the company, fostering
                                    rapid development and refinement of product features and marketing strategies,
                                    crucial for our omnichannel e-commerce platforms. This approach, coupled with DevOps
                                    practices and product design for microservices, significantly boosted our testing
                                    and iteration capabilities, aligning with product design excellence and business
                                    growth.</p>

                                <p>Leading UX/UI design and development, especially for projects involving product
                                    partners, I managed design and development for LAMP stack projects, driving
                                    remarkable financial growth. These strategic initiatives resulted in over 47% of new
                                    revenue, 27% of total lead generation, and contributed to 20% of the company's
                                    overall revenue, highlighting the essential role of strategic product design and
                                    development in business expansion and profitability.</p>

                                <hr class="solid-center my-5">
                                <p>
                                    <strong>Sr. Digital Designer</strong><br>
                                    Bluegreen Corp., Boca Raton, FL<br>
                                    <em>2011 to 2015</em>
                                </p>
                                <p> As the design lead, I orchestrated the company-wide transition to a data-driven
                                    omnichannel marketing platform, incorporating digital signage across 48 resort
                                    locations and interactive kiosk interfaces. This role involved crafting engaging
                                    user experiences across various marketing platforms and channels, ensuring a
                                    seamless integration of digital and physical touchpoints.</p>

                                <p>In collaboration with stakeholders, cross-functional teams, and external consultants,
                                    I played a key role in implementing and integrating a comprehensive marketing
                                    experience strategy. This strategy was focused on unifying our messaging and
                                    branding across all channels, including the innovative use of digital signage and
                                    interactive kiosks, to create a cohesive and dynamic customer journey. My leadership
                                    in this area was pivotal in enhancing customer engagement and reinforcing the
                                    company's presence in the competitive resort industry.</p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 design-tech">
                        <div class="row">
                            <div class="col-24">
                                <h3 class="mb-4">Design Expertise</h3>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-24 tech">
                                <ul class="fa-ul">
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Design Thinking</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">User Experience Design</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">User interface design</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Interaction design</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Visual Design</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">User Testing and Research</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Wireframing</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Prototyping</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Designing for B2C and B2B</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Design Systems</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Responsive Design</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Information Architecture</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Accessibility Design</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">HTML and CSS</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Project Management</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Less and Sass</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Front-end Development</span>
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        <span class="skill-title">Bootstrap Framework</span>
                                    </li>

                                </ul>

                            </div>
                        </div>
                        <div class="row app-tools">

                            <div class="col-24">
                                <hr class="solid-center my-5">
                                <h3 class="mb-4">Apps & Tools</h3>
                            </div>
                            <div class="col-24">
                                <ul class="fa-ul">
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Figma
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Adobe XD
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Adobe Photoshop
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Adobe Illustrator
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Figjam
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Miro
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Balsamiq
                                    </li>
                                </ul>
                            </div>

                            <div class="col-24">
                                <ul class="fa-ul">


                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Adobe Target
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Optimizely
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        SessionCam
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        UserTesting.com
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Jira
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Bitbucket
                                    </li>
                                    <li class="mb-3">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        GitKraken
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        Sublime Text
                                    </li>
                                    <li class="mb-4">
                                        <span class="fa-li">
                                            <i class="fa-regular fa-angle-right"></i>
                                        </span>
                                        VS Code
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <!-- <hr class="solid-center my-5"> -->
                        <div class="col-24 text-center mt-3">
                            <a href="JacobMedley-Resume.pdf" target="_blank"
                                class="btn btn-lg btn-third-dark rounded-pill shadow-lg"><i
                                    class="fa-light fa-file-pdf"></i>
                                Download
                                Resume</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
                <!--Waves Container-->
                <div class="waves-wrapper bottom mb-0 bottom-0">
                    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                        <defs>
                            <path id="gentle-wave"
                                d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                        </defs>
                        <g class="parallax">
                            <use xlink:href="#gentle-wave" class="wave-four" x="48" y="0" />
                            <use xlink:href="#gentle-wave" class="wave-three" x="48" y="3" />
                            <use xlink:href="#gentle-wave" class="wave-two" x="48" y="5" />
                            <use xlink:href="#gentle-wave" class="wave-one" x="48" y="7" />
                        </g>
                    </svg>
                </div>
                <!--Waves end-->
    </section>