<!-- HYDRA -->
<div class="modal fade" id="hydra" tabindex="-1" aria-labelledby="hydraLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="hydraLabel"><img
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> Hydra Design System</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">

                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <p><img class="img-fluid rounded shadow-lg" src="images/work/hydra/brief.png" alt="">
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3>Project Brief:</h3>
                            <hr class="solid-center">
                            <p>I championed and implemented the HYDRA design system. A large-scale project that
                                unified the customer experience across the company's products and streamlined the
                                design and engineering processes.</p>
                            <p>Executing the project spanned multiple departments. I presented the issues and plan
                                of action to the SVP of Marketing and the CTO, gaining executive sponsorship and
                                support.</p>
                            <h4 class="font-brand mb-0 mt-4">Contributions:</h4>
                            <hr class="solid-center">

                            <span class="badge-work">
                                <i class="fa-regular fa-clipboard-list-check text-second"></i>
                                Project Lead</span>


                            <span class="badge-work">
                                <i class="fa-regular fa-magnifying-glass-chart text-second"></i>
                                UX/UI Analysis</span>

                            <span class="badge-work">
                                <i class="fa-regular fa-solar-system text-second"></i>
                                System Design</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-laptop-code text-second"></i>
                                System Dev</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-phone-laptop text-second"></i>
                                Device Testing</span>


                            <h4 class="font-brand mb-0 mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second"></i>
                                Adobe Suite</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-code text-second"></i>
                                HTML</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-brackets-curly text-second"></i>
                                CSS/SASS</span>
                            <span class="badge-work">
                                <i class="fab fa-git-alt text-second"></i>
                                GIT</span>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 mt-5">
                            <h4>The Problem</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-md-12 col-lg-14 align-self-center">
                            <h5>The user experience was fragmented.</h5>
                            <p> Each phase was on a different tech stack and off-brand to boot. There were 8
                                variants of buttons . It got worse from there. Identical components that did the
                                same thing looked different throughout. Error messaging was created Adhoc for each
                                element, with various visual treatments and copy. To add a layer of complexity, it
                                had to support multiple sub-brands.</p>
                            <p>The fragmentation created confusion and unneeded friction for the user. The
                                insufficient variety of UI elements created design and technical debt.</p>
                        </div>
                        <div class="col-24 col-md-12 col-lg-10">
                            <figure class="figure">
                                <img src="images/work/hydra/ui-rag.png" class="figure-img img-fluid rounded"
                                    alt="UI fragmentation on buttons">
                                <figcaption class="figure-caption text-right">UX/UI Fragmentation - Button
                                    Treatments</figcaption>
                            </figure>
                        </div>
                        <div class="col-24 col-md-12">
                            <figure class="figure">
                                <img src="images/work/hydra/error-01.png" class="figure-img img-fluid rounded"
                                    alt="...">
                                <figcaption class="figure-caption text-right">UX/UI Fragmentation - error and input
                                    treatments.</figcaption>
                            </figure>
                        </div>
                        <div class="col-24 col-md-12">
                            <figure class="figure">
                                <img src="images/work/hydra/error-02.png" class="figure-img img-fluid rounded"
                                    alt="...">
                                <figcaption class="figure-caption text-right">UX/UI Fragmentation - error and input
                                    treatments.</figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 mt-5">
                            <h4>The Rise of Hydra</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 align-self-center">
                            <p>I created a single source of truth for the UX/Ui across our products. Streamlined the
                                UI and created a design system that would be tech agnostic and support multiple
                                brands. I established a vocabulary around the design system that would make sense to
                                UI developers and engineers.</p>

                            <p>
                                I engineered the design system in a way that only affected the frontend mark-up.
                                This enabled us to avoid costly back-end updates leaving the functional code behind
                                the front end untouched.
                            </p>

                            <p>The sub-brand issues were solved by having all attributes set to variables. The
                                variables allowed for a unique brand look, color, fonts, and UI treatment without
                                changing the core. The design system could be independently updated and consumed
                                across any application or digital product. </p>
                        </div>
                        <div class="col-24 col-lg-12">
                            <p class="font-brand h4">Nomenclature</p>
                            <div class="row row-cols-2 text-center">
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-image fa-2x"></i></p>
                                            <p class="card-title font-brand m-0">Elements</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-toggle-on fa-2x"></i></p>
                                            <p class="card-title font-brand m-0">Controls</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-sliders fa-2x"></i></p>
                                            <p class="card-title font-brand m-0">Components</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-light fa-sidebar fa-2x"></i></p>
                                            <p class="card-title font-brand m-0">Modules</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-columns-3 fa-2x"></i></p>
                                            <p class="card-title font-brand m-0">Layouts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col mb-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="mb-1"><i class="fa-regular fa-layer-group fa-2x"></i></p>
                                            <p class="card-title font-brand m-0">Sections</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24 mt-5">
                            <h4>What is a Design System?</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 align-self-center">
                            <p>It is a collection of reusable elements guided by clear standards. The use of these
                                elements can be assembled to build any number of applications. This gives the product
                                consistency and speeds up design and engineering time. We included design, UI
                                patterns, style guides, copywriting tone, and visual assets as part of our design
                                system.
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 align-self-center">
                            <p class="font-brand h4">Advantages:</p>
                            <ul>
                                <li>Streamline Engineering</li>
                                <li>Consistency</li>
                                <li>Visual Language</li>
                                <li>Cost Saving</li>
                                <li>Decreased Tech/Design Debt</li>
                                <li>Streamlined QA Testing</li>
                                <li>Increased Product Knowledge</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Documentation</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24">
                            <p>What good is a design system without documentation?</p>
                            <p>Documentation provides the rules and guidelines on how to use the design system. These
                                are vital to keep consistency across teams. Below is a summary of our documentation.
                            </p>
                            <ul>
                                <li>Principles</li>
                                <li>Components</li>
                                <li>Code Standards</li>
                                <li>Changelog</li>
                                <li>Roadmap</li>
                                <li>Accessibility</li>
                                <li>Examples</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>The Final Result:</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-md-12 col-lg-8">
                            <figure class="figure">
                                <img src="images/work/hydra/hydra-res-01.png" class="figure-img img-fluid rounded"
                                    alt="...">
                            </figure>
                        </div>
                        <div class="col-24 col-md-12 col-lg-8">
                            <figure class="figure">
                                <img src="images/work/hydra/hydra-res-02.png" class="figure-img img-fluid rounded"
                                    alt="...">
                            </figure>
                        </div>
                        <div class="col-24 col-md-12 col-lg-8">
                            <figure class="figure">
                                <img src="images/work/hydra/hydra-res-03.png" class="figure-img img-fluid rounded"
                                    alt="...">
                            </figure>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Implementation</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-14">
                            <p>The success of any design system is its adoption. As a living breathing organism, it is
                                a long play and requires the investment of time and resources to maintain its value.
                                I spent time with each dev team to educate them on the best use of the design system.
                                Provided code samples to help them get started quickly and coached each team lead on
                                incorporating it into their sprints and planning. </p>
                        </div>
                        <div class="col-24 col-lg-10">
                            <figure class="figure">
                                <img src="images/work/hydra/hydra-rollout.png" class="figure-img img-fluid rounded"
                                    alt="Rollout plan for Hydra">
                                <figcaption class="figure-caption text-right">Rollout Plan</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill"
                    data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END HYDRA -->
