<!-- WB -->
<div class="modal fade" id="wb2" tabindex="-1" aria-labelledby="wbLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="wbLabel"><img loading="lazy"
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> UX Roadmaps</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-20 col-lg-12 col-xl-8 align-self-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg rounded-circle"
                                    src="images/work/roadmap/rm.jpg" alt="">
                            </p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <h3>Are we there yet?</h3>
                            <hr>
                            <p>A UX Roadmap allows you to communicate a UX team's work and the problems they plan to
                                tackle. It is a living, breathing
                                document that helps align and prioritize projects.
                            </p>

                            <p>I built the 2022 UX Roadmap for One Park Financial using the framework detailed under
                                "Example UX Roadmap". </p>
                            <p>I am a strong planner and lean hard into planning the work and working the plan. To
                                quote Roberts Burns - "The best-laid
                                plans of mice and men often go awry," so be ready to pivot. <i
                                    class="fa-light fa-mouse-field  thinking-icon"></i></p>
                            <h4>Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-mouse-field  text-secondary"></i>
                                Roadmap Planning</span>

                            <h4 class="mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-chalkboard text-secondary"></i>
                                Lucidchart</span>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24 col-xl-16 col-xxl-14 py-5">
                            <hr class="solid-center">
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-24">
                            <h4>Example UX Roadmap <small class="d-block fs-5">Obfuscated for client
                                    protection.</small>
                            </h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-md-12">
                            <p>Structure and Components</strong></p>
                            <hr class="solid-center">
                            <ol class="list-group list-group-numbered shadow-lg">
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-start bg-prime-light bg-opacity-25">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Roadmap Title:</div>
                                        A name that is memorable and resonates with the top-level goals if possible.
                                    </div>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-start bg-second-light bg-opacity-25">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Roadmap Owner:</div>
                                        Set accountability and identify a point person for questions about the
                                        roadmap.
                                    </div>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-start bg-third-light bg-opacity-25">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">High Level Goals/Vision:</div>
                                        Larger company strategy, vision, or specific goals that the roadmap aligns to.
                                    </div>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-start bg-fourth-light bg-opacity-25">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Timeline</div>
                                        Now <i class="fa-thin fa-arrow-right"></i> Next <i
                                            class="fa-thin fa-arrow-right"></i> Later <br>
                                        <em>note: these are not
                                            specific dates, but what should be tackled first.</em>
                                    </div>
                                </li>
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-start bg-pop-light bg-opacity-25">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold">Specific Projects or Initiatives</div>
                                        <ul>
                                            <li>Project Title / Number</li>
                                            <li>Beneficiary</li>
                                            <li>Need</li>
                                            <li>Business Objectives</li>
                                            <li>Team Dependencies</li>
                                        </ul>
                                    </div>
                                </li>
                            </ol>
                        </div>
                        <div class="col-24 col-md-12 text-start">
                            <p>Project Card:</strong></p>
                            <hr class="solid-center">
                            <div class="card shadow-lg">
                                <div class="card-header">
                                    Project Title
                                </div>
                                <div class="card-body">
                                    <p class="mb-0"><strong>Beneficiary:</strong></p>
                                    <p>The prioritized recipient(s) of the work (e.g., Merchants, Agents, Internal
                                        Stakeholders)</p>
                                    <p class="mb-0"><strong>Need:</strong></p>
                                    <p>The problem that will be solved or the purpose.
                                    <p class="mb-0"><strong>Business objective(s):</strong></p> Objectives and
                                    potential outcomes
                                    that will be
                                    achieved upon
                                    completion. Success metrics for the work.</p>
                                    <p class="mb-0"><strong>Team:</strong></p>
                                    <p>Who is involved.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-24 text-start mt-5">
                            <p>Obfuscated Lucid Chart</strong></p>
                            <hr class="solid-center">
                            <img loading="lazy" src="images/work/roadmap/l-chart.jpg" alt="Lucid Chart"
                                class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END WB -->