<!-- viva -->
<div class="modal fade" id="viva" tabindex="-1" aria-labelledby="vivaLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5" id="vivaLabel"><img loading="lazy"
                        src="images/brand/SVG/jm-icon-full-brand-prime.svg" alt="Jacob Medley | UX UI Designer"
                        height="58px" width="58px"> Viva Medicare</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <div class="col-24 col-lg-12 col-xl-10 align-self-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/viva-modal/brief.png"
                                    alt=""></p>
                        </div>
                        <div class="col-24 col-lg-12 col-xl-14 align-self-center">
                            <h3>Project Brief:</h3>
                            <hr class="solid-center">
                            <p>Develop a brand based on our product and customer research for Medicare and Medicare
                                supplement. I partnered with executive stakeholders and the Director of Creative
                                Development, Rick Hoyle, to brainstorm and go through several branding exercises.
                                Below are my favorite variations produced for the project.
                            </p>

                            <h4>Contributions:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-brain text-second"></i>
                                Collaboration</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-fill-drip text-second"></i>
                                Visual Design</span>
                            <span class="badge-work">
                                <i class="fa-regular fa-pencil-paintbrush text-second"></i>
                                UX/UI Design</span>

                            <h4 class="mt-4">Technology:</h4>
                            <hr class="solid-center">
                            <span class="badge-work">
                                <i class="fa-regular fa-drafting-compass text-second"></i>
                                Adobe Suite</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Logo Design</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img loading="lazy" class="img-fluid" src="images/work/viva-modal/logo-design-stack.png"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img loading="lazy" class="img-fluid" src="images/work/viva-modal/logo-design-inline.png"
                                    alt="Viva Medicare Logo Design by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Color Study</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 text-center">
                            <p><img loading="lazy" class="img-fluid" src="images/work/viva-modal/colors.png"
                                    alt="Color Study for Viva Medicare by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Visual Style and Tone</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 text-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/viva-modal/vs-1.png"
                                    alt="Viva Medicare Visual Style and Tone by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/viva-modal/vs-2.png"
                                    alt="Viva Medicare Visual Style and Tone by Jacob Medley"></p>
                        </div>
                        <div class="col-24 col-lg-12 text-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/viva-modal/vs-3.png"
                                    alt="Viva Medicare Visual Style and Tone by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>Homepage Hero Concepts</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24 text-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/viva-modal/hero-1.png"
                                    alt="Viva Medicare Hero Concepts by Jacob Medley"></p>
                        </div>
                        <div class="col-24 text-center">
                            <p><img loading="lazy" class="img-fluid shadow-lg" src="images/work/viva-modal/hero-2.png"
                                    alt="Viva Medicare Hero Concepts by Jacob Medley"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-24">
                            <h4>UI Components & Style</h4>
                            <hr class="solid-center">
                        </div>
                        <div class="col-24">
                            <h4>Buttons</h4>
                            <hr class="solid-center">
                            <p><img loading="lazy" class="img-fluid" src="images/work/viva-modal/buttons.png"
                                    alt="Viva Medicare Button Concepts by Jacob Medley"></p>
                        </div>
                        <div class="col-24">
                            <h4>Inputs</h4>
                            <hr class="solid-center">
                            <p><img loading="lazy" class="img-fluid" src="images/work/viva-modal/inputs.png"
                                    alt="Viva Medicare Input Concepts by Jacob Medley"></p>
                        </div>
                        <div class="col-24">
                            <h4>Navigation</h4>
                            <hr class="solid-center">
                            <p><img loading="lazy" class="img-fluid" src="images/work/viva-modal/nav.png"
                                    alt="Viva Medicare - Navigation Concepts by Jacob Medley"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-second rounded-pill" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- END viva -->